[2013-06-09 11:25] mxsasha opened #1 "Encoding issues in documentation"
It seems that the auto-generated documentation for the NL localflavor on http://django-localflavor.readthedocs.org/en/latest/localflavor/nl.html has encoding difficulties: Fryslân is shown as Frysl\xe2n.
Similar issues for UY: http://django-localflavor.readthedocs.org/en/latest/localflavor/uy.html and probably others.

I have only basic knowledge on sphinx, so this is not something I can easily fi

[2013-06-11 04:21] bltravis opened #4 "PyPI Link Doesn't Point to Anything"
As of right now, the PyPI link in the README doesn't actually point to an actual release.

[2013-06-11 07:02] #4 closed, assigned to nobody

[2013-06-22 13:12] #1 closed, assigned to nobody

[2013-06-25 07:39] jezdez opened #10 "deactivate existing django-localflavor-* projects"
use Github's new repo redirects maybe

[2013-06-25 08:11] jezdez opened #11 "figure out how to handle already made PyPI releases of django-localflavor-* apps"
the current package releasers need to be informed and I would recommend not removing the packages from PyPI but add a warning on their PyPI pages instead

[2013-06-25 08:12] jezdez opened #12 "write some generic porting instruction for django-localflavor-* > django-localflavor"

[2013-06-25 08:12] jezdez opened #13 "update the Django docs to point to the new django-localflavor app"

[2013-06-25 08:33] jezdez opened #14 "update docs to be more specific about adding new localflavors, releases etc"

[2013-06-25 08:34] jezdez opened #15 "release to PyPI"

[2013-07-26 09:53] #12 closed, assigned to nobody

[2013-07-26 09:53] #14 closed, assigned to nobody

[2013-07-26 09:54] #10 closed, assigned to nobody

[2013-07-27 13:35] benkonrath opened #19 "ROIBANField no longer needed because a generic IBAN field now exists"
I just wanted to point out the the ROIBANField isn't really needed anymore now that there's a generic IBANField which validates all countries. You can find the django app here:

https://github.com/benkonrath/django-iban

I'm not sure if you want to deprecate that field or some how indicate that the generic field can be used. I'm filing this issue more to document that using django-iban is probably

[2013-07-29 10:04] #15 closed, assigned to jezdez

[2013-07-29 10:07] #13 closed, assigned to nobody

[2013-08-03 18:52] fgmacedo opened #24 "Update docs to include info that localflavor.br.forms.BRPhoneNumberField has support to 9 numbers"
The code is correct, but docstring need to be updated.

In the docs, [BRPhoneNumberField](https://django-localflavor.readthedocs.org/en/latest/localflavor/br/#localflavor.br.forms.BRPhoneNumberField) says:

I think that its better:

[2013-08-03 19:41] #24 closed, assigned to nobody

[2013-08-04 06:01] hirokiky opened #28 "First running of tox will be fail."
The first running tox will be fail, when installing pacakes.
Please try removing .tox/ dir and re-run tox, now.

You can watch a errror like this:

This means the Django's installation is specified from two points:
- deps = Django==1.5.1 (in tox.ini directory)
- Django (in tests/requirements.txt)

(But, Installation from github/...zip (like https://github.com/django/django/archive/stable/1.6.x.zip

[2013-08-12 10:24] nagisa opened #34 "Wiki should be disabled for this repository"
Disable github's wiki for django-localflavor repository.

[2013-08-12 10:33] #34 closed, assigned to nobody

[2013-08-29 23:28] tadeck opened #35 "US SSN (USSocialSecurityNumberField) accepts numbers beginning with "900" through "999""
As per:
- [Wikipedia entry](http://en.wikipedia.org/wiki/Social_Security_number#Valid_SSNs) (treat it as starting point),
- [Social Security Administration FAQ page](http://ssa-custhelp.ssa.gov/app/answers/detail/a_id/425),

Social Security Numbers beginning with "9" are not valid.

Failing tests are ready, fix is on the way.

[2013-09-03 04:45] koterpillar opened #37 "South introspection rules"
Changing from `django.localflavor` to this package results in South complaining about custom fields. (`django.localflavor` fields are whitelisted in South, these aren't.)

[2013-09-04 01:36] #37 closed, assigned to nobody

[2013-09-10 03:19] ishahid opened #39 "Add flavor, PK"
Add the flavor for Pakistan _(PK)_ specific fields.

[2013-09-10 05:21] #39 closed, assigned to nobody

[2013-09-26 20:44] treyhunner opened #44 "Add instructions for using invoke to README or CONTRIBUTING file"
I see that invoke is being used (there is a tasks.py file) but I don't see any instructions on how to use it.

[2013-09-26 20:45] treyhunner opened #45 "tox broken"
When running tox I get:

Double requirement given: Django (from -r /home/trey/repos/django/django-localflavor/tests/requirements.txt (line 9)) (already in Django==1.5.1, name='Django')

This problem is resolved by removing Django from tests/requirements.txt

[2013-09-26 20:57] treyhunner opened #47 "Tests fail with Django 1.6"
py26-1.5: commands succeeded
ERROR:   py26-1.6: commands failed
  py27-1.5: commands succeeded
ERROR:   py27-1.6: commands failed
  py32-1.5: commands succeeded
ERROR:   py32-1.6: commands failed
  py33-1.5: commands succeeded
ERROR:   py33-1.6: commands failed

The error:

[code]

[2013-09-26 21:16] #45 closed, assigned to nobody

[2013-09-28 20:19] valberg opened #49 "Problem running tests"
It would be nice to have some documentation on how to run tests (either they do not exist, or I'm unable to find it).

After some digging, I figured out that running `invoke test` is the way to go (correct me if I'm wrong).

Anyway, when trying to run `invoke test --lang=dk`, I get the following output:

[code]

I'm running it in a virtualenv (using virtualenvwrapper) with the following packages (

[2013-10-02 09:51] #35 closed, assigned to nobody

[2013-10-04 15:43] epicserve opened #51 "South support"
Any plans to add support for South. I just tried creating a schema migration on a model that had a PhoneNumberField and it failed because it was missing the south  introspection rules.

[2013-10-04 16:12] #51 closed, assigned to nobody

[2013-11-06 23:19] Nelluk opened #55 "US State vs US Postal Code"
[code]

Shouldn't the postal code field contain digits? Seems like it was accidentally copied from the State field.

[2013-11-07 00:15] #47 closed, assigned to charettes

[2013-11-07 18:52] rbwksf opened #56 "Cannot override Canadian invalid postal code error message"
I tried to override the error message for an invalid Canadian postal code using:

[code]

That does not work.  However, this code to override the error message for an invalid US zip code does:

[code]

Problem seems to be in localflavor/ca/forms.py: `raise ValidationError(self.default_error_messages['invalid'])`

versus this in localflavor/us/forms.py: `raise ValidationError(self.error_messages['i

[2013-11-08 17:20] #56 closed, assigned to nobody

[2013-11-18 17:16] macagua opened #58 "Venezuela local flavor"
Local flavor for Venezuela.

Now I have a previous work [0], to merge with django-localflavor, please to assign me this issue.

[0] https://github.com/macagua/django-local-flavor-ve

[2013-11-18 17:36] #58 closed, assigned to nobody

[2013-11-19 20:22] paltman opened #59 "Proposal: Interface for using country submodules generically"
The use case is having a country selector and then based upon the country that is selected displaying a `select` input field for the regions for that country. I am doing this for a client currently so this gist is hardcoded a bit for their needs (not options expansion for the field, etc.) but wouldn't take much to make this more generally usable.

I recognize that it would be hard to make this pat

[2013-11-21 08:57] notescat opened #60 "CIF validator for es"
In Spain we have bussiness with J letter on CIF, the type of bussiness is SCP (example http://www.tresmanagers.com/aviso-legal/).

For full functionally of CIF validator, you have to insert J in in es/forms.py, self.cif_types.

I tested in my local web (in development) and function ok.

[2013-11-23 18:35] thenewguy opened #61 "ZipCodeField should ignore whitespace"
Zip entered as " XXXXX" or "XXXXX " is marked as invalid.  This happens before form.clean so something like

[code]

in the form's clean method doesn't help.

-- edit --
forgot to mention this is for the US ZipCodeField.  Not sure if spaces are important in other zip codes

[2014-01-09 02:34] jthi3rry opened #64 "Add New Zealand flavor"
Migrate https://bitbucket.org/markuz/django-localflavor-nz to django-localflavor

[2014-01-09 02:40] #64 closed, assigned to nobody

[2014-01-17 12:24] #49 closed, assigned to nobody

[2014-01-17 13:14] #44 closed, assigned to nobody

[2014-01-17 13:15] #28 closed, assigned to nobody

[2014-02-23 11:01] #61 closed, assigned to nobody

[2014-02-23 11:55] #60 closed, assigned to nobody

[2014-03-05 09:48] primski opened #84 "SLPhoneNumberField ignores required=False"
Possibly other flavors too.

Since empty value does not match regex, it raises ValidationError when it could respect required=False.

[2014-03-11 19:46] #84 closed, assigned to nobody

[2014-04-12 14:02] nagisa opened #89 "Travis appears to be using Python 2.7.3 for all environments."
Looking at a [recent build](https://travis-ci.org/django/django-localflavor/builds/22828873) noticed that in all environments output of `python --version` is `Python 2.7.3`. Is that expected?

It appears to be a case since df1dce113fec9ecc7c3fa5408f9a59de38a78b51 ([travis build](https://travis-ci.org/django/django-localflavor/builds/17125780)).

[2014-04-12 18:11] treyhunner opened #90 "Missing tests for generic form fields"
Tests needed for localflavor.generic.forms

[2014-04-15 19:31] #89 closed, assigned to nobody

[2014-04-28 18:38] dougharris opened #98 "USStateField fails on armed forces "state""
When using the form field class `USStateField` with the `USStateSelect` widget, the list of states includes `ARMED_FORCES_STATES` (Armed Forces Americas, Europe, Pacific) but the `clean` method fails validation because those states are not in `STATES_NORMALIZED`.

[2014-04-28 20:05] #98 closed, assigned to nobody

[2014-04-30 00:58] YAmikep opened #100 "using USStateField form field with USStateSelect form widget"
Hi,

Is there a form field that can be used with the USStateSelect widget?

The USStateSelect form widget uses the STATE_CHOICES list whereas the USStateField form field uses the STATES_NORMALIZED which does not contain all of the possible values displayed by the widget.
For example, "Armed Forces Americas" (value="AA") is in the dropdown list but will always trigger an error because it is unknown

[2014-04-30 09:34] submarcos opened #101 "Fixed label for form fields objects"
Since django.contrib.localflavor move to localflavor,
a problem is occuring.

Every FR (france) FormField object have its label fixed in the **init** method

example: localflavor/fr/forms.py - line 28

[code]

Must be:

[code]

It permits to specify custom labels for many occurence of a field in the same form.

(Ex: 'Phone 1', 'Phone 2', 'Phone 3' labels for three FRPhoneNumberField, unlike 'Phone

[2014-05-28 13:50] #19 closed, assigned to nobody

[2014-08-06 23:44] treyhunner opened #110 "Add change log"
I propose that we add a `CHANGES.rst` file to record changes between versions.  This would allow users to see when a release was made and the differences between the releases.

I usually forget to populate my CHANGES.rst files after merging each pull request so I tend to run `git cherry -v 1.0` (where `1.0` is the last version tag) to see the changes since the last release.

Example: https://githu

[2014-08-07 09:03] jezdez opened #111 "Add authors file to documentation"
We should add the authors file to the documentation so that it shows up in the TOC and is rendered by Read The Docs.

[2014-08-07 09:06] #101 closed, assigned to nobody

[2014-08-22 20:51] jleeothon opened #114 "Wrong links in CONTRIBUTING.rst"
The links for "file a ticket" and "installing tox" point to each other's expected url in CONTRIBUTING.rst.

[2014-08-23 07:17] #114 closed, assigned to nobody

[2014-08-26 08:33] ticosax opened #115 "VAT numbers"
Hi,
Is it the right place to add VAT Number Fields, Forms and Validators for each countries ?

[2014-08-26 11:31] #115 closed, assigned to nobody

[2014-09-03 22:19] bigee opened #116 "Localization of date formats"
I am a bit puzzled by the missing localization of date formates, e.g.
10th September 2014 (en)
10. September 2014 (de)
2014年09月10日 (zh)

Is this covered by Django core? Or should this be contributed?

[2014-09-04 08:01] #116 closed, assigned to nobody

[2014-09-13 16:15] iknowmac opened #118 "Makemigrations fails with django-localflavor model"
After adding django-localflavors and importing the USPhoneNumberField, I get a "cannot import name USPhoneNumberField" error while running makemigrations.

[2014-09-13 16:22] #118 closed, assigned to nobody

[2014-10-21 13:19] jonathanslenders opened #124 "Pypi release"
Dear developers,

Are you planning to do another Pypi release? The latest release is from: 2013-07-29.
https://pypi.python.org/pypi/django-localflavor

Thank you,
Jonathan

[2014-10-27 16:13] #110 closed, assigned to treyhunner

[2014-10-27 16:15] #90 closed, assigned to nobody

[2014-11-02 00:03] #55 closed, assigned to nobody

[2014-11-02 00:12] #100 closed, assigned to nobody

[2014-11-02 00:22] #111 closed, assigned to nobody

[2014-11-05 20:10] #11 closed, assigned to nobody

[2014-11-11 12:07] danielmaxx opened #127 "New Spanish NIE numbers are not working"
Since 2008, the letter 'Y' [1] has been used as the first letter in Spanish NIE numbers, but this pattern is not accepted. I've wrote an ugly patch for it, but the most correct thing to do would be to add 'Y' to the accepted patterns in the nie_types attribute in ESIdentityCardNumberField class.

[1] http://es.wikipedia.org/wiki/N%C3%BAmero_de_identidad_de_extranjero

[2014-11-18 11:48] bh opened #129 "Django 1.7 issue"
Same as in https://github.com/benkonrath/django-iban/issues/31

[2014-11-18 13:30] #129 closed, assigned to nobody

[2014-11-21 09:36] #127 closed, assigned to nobody

[2014-12-03 16:46] intgr opened #133 "Documentation build is failing?"
I tried changing and building the documentation for localflavor, but it keeps failing with complicated errors. It seems that readthedocs builds are failing with the same error, and have been for a long time. Here's the build output: https://readthedocs.org/builds/django-localflavor/1915723/

The errors are:

[code]

Perhaps in the long run, doc builds should be added to Travis-CI so new pull reque

[2014-12-09 13:33] #133 closed, assigned to nobody

[2014-12-10 12:10] #124 closed, assigned to nobody

[2015-01-03 14:08] giancarloap opened #140 "BRPhoneNumberField not working"
I don't know if it's some conflict with my code. For me the input is always invalid even when i use the format xx-xxxx-xxxx on the form. I solved it cleaning the '-' minus myself, like this:

class CustomerAddressForm(forms.ModelForm):
    contact_phone = BRPhoneNumberField(help_text='XX-XXXX-XXXX ou XX-XXXXX-XXXX ou só os digitos')
(...)
def clean_contact_phone(self):
        self.cleaned_data['c

[2015-01-18 16:53] avelino commented on #140
Tested and worked normally, I'm using in many project!
I believe it is a mistake of implementation

[2015-04-07 09:54] TaqiOfficial opened #147 "ImportError: cannot import name truncate_words on django 1.8"
I am using django 1.8  and my code is as below.
[code]
and I am getting this error -
`ImportError: cannot import name truncate_words`

[2015-04-14 13:34] benkonrath commented on #147
`truncate_words` doesn't seem to be used in the version of django-localflavor from master. Which version are you having this problem with?

[2015-04-14 18:38] TaqiOfficial commented on #147
I guess the latest version it is.

[2015-04-14 18:56] benkonrath commented on #147
`truncate_words` is also not used in version 1.0 or 1.1. I'm pretty sure that this isn't a bug in django-localflavor as the tests are currently passing on Django 1.8 and `localflavor.pk.models` seems to be tested well.

https://travis-ci.org/django/django-localflavor

Can you post a full stack trace along with the version of django-localflavor? It's hard to help you out any further without this in

[2015-04-15 08:08] jieter opened #150 "local-flavor NL: add model fields, renaming, testing, deprecating."
[As mentioned in this PR comment](https://github.com/django/django-localflavor/pull/148#issuecomment-92922485) I'm about to do some work on the Dutch local-flavor fields. While working on reorganizing and adding the model fields and tests, a couple of questions rise:
- [x] Since everyone is now required to use IBAN, there is no use for `NLBankAccountNumber*` anymore. I suggest removing(or at least

[2015-04-17 19:06] benkonrath commented on #150
Point 1: Some users may actually still want to store the old Dutch bank numbers but I don't know for sure. I suppose the question is really about whether localflavor should keep historical fields or not. If we were to remove the `NLBankAccountNumber*` fields, they would need to be depreciated first and I think it would be better to file a separate issue to solve this generally for all the SEPA ban

[2015-05-02 07:43] erikr commented on #150
On point 1: I think we should deprecate all local bank account fields, in countries where IBAN has become mandatory. By mandatory I mean that in the Netherlands, I can no longer enter an old form account number in a bank transfer, and the conversion service has shut down. So there is no possible use for an old form account number anymore. I believe this is part of SEPA, and therefore required in a

[2015-05-03 19:46] jieter commented on #150
@benkonrath @erikr Thanks for your comments on this. I'll look into it later this week and propose a change we can discuss after that.

[2015-05-14 18:00] cool-RR opened #153 "Add field for US VIN"
17 characters, without I, O and Q, capitalize automatically including lookups.

[2015-06-18 18:22] nrogers64 commented on #35
The comment needs to be updated:

https://github.com/django/django-localflavor/blob/1.1/localflavor/us/forms.py#L75-L76

[2015-06-18 18:25] tadeck commented on #35
@nrogers64: You are right. Docstring is no longer correct.

[2015-06-24 18:48] claudep commented on #147
I doubt the bug is in localflavor.

[2015-06-24 18:48] #147 closed

[2015-06-24 18:53] claudep commented on #140
The tests are here: https://github.com/django/django-localflavor/blob/master/tests/test_br.py#L69
If you can make the tests fail, we'll reopen the issue.

[2015-06-24 18:53] #140 closed

[2015-06-24 20:04] camillobruni opened #159 "Wrong french translation for XXXX zip code"
The following translation in `fr` is wrong:
[code]

It is specific to the novergian zip code whilst the same translation string is used for austrian and swiss zip codes. Stripping "norvégien" should do the trick.

[2015-06-24 20:31] claudep commented on #159
Thanks, but that was already reported and fixed in Transifex. This will be integrated in the next release of django-localflavor.

[2015-06-24 20:31] #159 closed

[2015-06-24 20:36] camillobruni commented on #159
that's a pity since this problem exists for quite a while. any chance to push at least the latest translation to the master?

[2015-06-24 20:57] claudep commented on #159
I've just pushed the updated en po file to master, so the strings from your patch should be available to translate on Transifex. Let's make sure we have at least French and German translations for them, then I'll get back the translations and ask the maintainers for a new release (hopefully within 2 weeks).

[2015-06-24 21:26] camillobruni commented on #159
thanks :)

[2015-07-01 17:23] mlissner opened #161 "Models Need Deconstruct Methods?"
I'm just upgrading to Django 1.7 and I'm learning about the [deconstruct methods that are required on custom fields][decon].

I use the US localflavor and I'm quite surprised that `deconstruct` methods haven't been added? Looking further, it seems there's no `deconstruct` method for *any* flavor.

Is there a deliberate reason for this? If not, I'll write a quick PR to add these to US, but I don't

[2015-07-24 06:06] jezdez commented on #161
Yeah, this just hasn't come up I think, see my comment in #162.

[2015-08-14 16:42] zarelit opened #164 "localflavor-it: wrong error string in ITSocialSecurityNumberField"
The original error string in it/forms.py is "Enter a valid Social Security number." that is literally translated in the Italian language file.

While this is good for the same string in another context (e.g. the Mexican forms.py) it has the wrong meaning if used in Italian applications; the error string should be something like "Enter a valid Fiscal Code" or "Inserisci un Codice Fiscale valido".

[2015-08-15 07:41] claudep commented on #164
@yakky, @pauloxnet, would you support using "Enter a valid Fiscal Code" in this error message?

[2015-08-15 10:01] zarelit commented on #164
I've actually found that "Agenzia Delle Entrate" (Italian revenue agency) actually calls it "Tax Code" in their English documents.
http://www1.agenziaentrate.gov.it/english/italian_taxation/tax_code.htm

I would use "Enter a valid Tax code" in the source and "Inserisci un Codice Fiscale valido" as the Italian translation

[2015-08-15 11:30] yakky commented on #164
@zarelit @claudep Above PR should fix the error message. The italian translation must be fixed on transifex after merging

[2015-08-15 12:47] zarelit commented on #164
@yakky As you wish, they're almost the same, except that yours changes the string in the .po file and makes the comment more clear. I would go for yours.

[2015-08-15 13:46] #164 closed

[2015-08-15 13:46] yakky commented on #164
@zarelit we've been both quite quick ! Thanks @claudep

[2015-09-01 13:39] OdyX opened #168 "Please sync from Transifex"
For instance, this french translation is really wrong (it refers to a "norwegian" zip code, while swiss and austrians will also use the same error code), but seems corrected on Transifex:

https://github.com/django/django-localflavor/blob/master/localflavor/locale/fr/LC_MESSAGES/django.po#L184

[2015-09-01 18:23] claudep commented on #168
Done in 263d133c874.

[2015-09-01 18:23] #168 closed

[2015-11-20 09:51] oorestisime opened #181 "Testing without tox"
Hello,

I am packaging localflavor for Debian and I am running into some problems with the test suite. If I don't use tox most of the tests fail ( https://reproducible.debian.net/rb-pkg/testing/amd64/django-localflavor.html the rbuild.) I tried setting the DJANGO_SETTINGS_MODULE but then other tests fail.

I can't use tox since tox creates virtualenv through pip.

So i am wondering if there are an

[2015-11-20 10:42] benkonrath commented on #181
Running `invoke test` outside of tox on 1.1 seems to be broken. On master it's working (without having to set `DJANGO_SETTINGS_MODULE`). I'm not sure the specific cause so waiting for the 1.2 release would be the best solution. I'm not sure when that's going to happen though.

[2015-11-20 10:49] benkonrath commented on #181
Just a quick follow up ... I'll try to make time for the 1.2 release within the next 2 weeks. This is a nice push to get it it out. I'll want to check-in with the other maintainers first to see if they agree.

[2015-11-20 12:42] oorestisime commented on #181
Ok thanks a lot. I ll be waiting the release then before uploading anything.

[2015-11-22 10:57] benkonrath opened #183 "1.2 release on 27 November 2015"
I'm planning to make a 1.2 release on 27 November 2015.

@maintainers I'm planning to make the release without a major push for additional PRs to merged. That said, if there is a feature you'd like to see in 1.2 and it's not merged yet, you have a few days to work on it.

@claudep Will I need to do change something on Read the Docs to get the docs for the 1.2 tag setup correctly. Or is it automati

[2015-11-22 17:55] claudep commented on #183
AFAIK and providing the commit hooks are properly set up, it's all automatic. See also http://read-the-docs.readthedocs.org/en/latest/versions.html

[2015-11-22 18:11] benkonrath commented on #181
See #183.

[2015-11-24 14:16] orf opened #184 "US Docs data is weird"
The data includes the `repr` of a Django localproxy: http://django-localflavor.readthedocs.org/en/latest/localflavor/us/#data

Perhaps this should be changed?

[2015-11-24 20:51] jezdez commented on #184
https://github.com/django/django-localflavor/blob/master/docs/extensions/promises.py was supposed to fix that actually, something must have broken it

[2015-11-24 20:53] jezdez commented on #184
Probably related to 0d48410f7b4a4f885d442cd109888c69bc3d612e? @benkonrath do you know anything about this?

[2015-11-24 20:53] jezdez commented on #183
@benkonrath #184 seems like a good thing to fix first

[2015-11-24 22:43] benkonrath commented on #183
Yep, just didn't have time to check it out yet.

[2015-11-24 22:55] benkonrath commented on #184
I was trying to fix failure in the docs test build (see #149). I suppose a quick fix is to revert that change and use Sphinx 1.2 . I should have time to investigate tomorrow,

[2015-11-25 06:55] KyeRussell opened #185 "AUPhoneNumberField improvements"
Hey,

It has occurred to me that AUPhoneNumberField isn't as good as it could be. At the moment it strips parentheses/WS/hyphens which is great, but it doesn't do much beyond that. In fact, the existing validation check (exactly 10 digits) is **incorrect** as it rejects valid Australian phone numbers.

Australia's phone numbering system is very well documented on Wikipedia, as well as the ACMA web

[2015-11-25 15:16] #184 closed

[2015-11-25 15:20] benkonrath commented on #184
It looks like I didn't also set `lazy_safe_repr` when I updated to Sphinx 1.3. The updated docs should be posted shortly. @orf Thanks for reporting this issue.

[2015-11-25 15:23] benkonrath commented on #185
I don't know the specific history of the AU module but if it's wrong, we'll definitely accept a PR to fix it. It's helpful to include links to sources such as Wikipedia and ACMA that show what the correct validation should be. Thanks.

[2015-11-27 12:52] benkonrath commented on #183
I'm putting together the changelog for the release so hopefully I'll have things ready in a hour or two.

@claudep Do you have time to update the translations? I'm not sure if any of the translations have been updated since your last update but it would be nice to double check this. Thanks.

[2015-11-27 15:25] claudep commented on #183
I can do it now.

[2015-11-27 15:42] benkonrath commented on #183
Thanks.

[2015-11-27 15:53] claudep commented on #183
Done.

[2015-11-27 19:20] benkonrath commented on #183
Version 1.2 has been released. Thanks for your help @claudep. And thanks to everybody who contributed to this release.

[2015-11-27 19:20] #183 closed

[2015-11-27 19:20] benkonrath commented on #181
I just release 1.2. Can you test to see if your problem is now fixed? Thanks.

[2015-11-27 19:29] claudep commented on #183
\o/

[2015-11-27 19:41] oorestisime commented on #181
hey thanks for releasing this so quickly.. running invoke test gives me
[code]
invoke docs works find though

Am i missing something?
Thanks for your help

[2015-11-27 20:10] benkonrath commented on #181
It's working for me with invoke 0.11.1 (as used in the tests - see `tests/requirements.txt`) and Python 2.7.5 on EL 7. Which version of invoke are you using? Maybe that's causing the problem.

[2015-11-27 20:20] oorestisime commented on #181
hm i made a virtualenv and pip installed the requirements.. here is a freeze
[code]
running tox works fine!

[2015-11-27 20:39] benkonrath commented on #181
Here's my virtualenv:

[code]
Which version of Django are your testing against?

[2015-11-27 20:44] oorestisime commented on #181
ok thanks.. I was checking against Django 1.7.10. Just checked with 1.8.7 and worked. Although shouldn't it work with 1.7 as well?

[2015-11-27 20:46] benkonrath commented on #181
Yeah, we test against Django 1.7 in the tox build so it should work. You need it work with 1.7, right?

[2015-11-27 20:49] benkonrath commented on #181
I just tested with Django 1.7.10 in my virtualenv instead of Django 1.8.7 and `invoke test` is working.

[2015-11-27 20:53] oorestisime commented on #181
Oh that's true.. the only difference is that i was using django from Debian and not from pip. I ll have to investigate this a bit more but at least now i know that it works locally.
Thanks again for all your help

[2015-11-27 20:59] benkonrath commented on #181
No problem.

There might be something wrong with the setup of your virtualenv. As far as I know, it is possible to mix in system installed packages but you have to pass some options to virtualenv for this.

I'll keep this issue open for now but let me know if you have anymore questions or when we can close this. Thanks.

[2015-11-28 02:33] oorestisime commented on #181
OK i managed to solve the problems. I ll finish and upload the new release to Debian.
Once again thanks for the help

[2015-11-28 02:33] #181 closed

[2015-12-02 09:56] benkonrath commented on #185
I just wanted to point out PR #142. It fixed the AU phonenumber fields using the libphonenumber library which seems like a good way forward for django-localflavor. I'll try to make some time to look at that PR in the next week or two.

[2015-12-02 14:13] KyeRussell commented on #185
That looks really good! Haven't heard of that library before but since it's Google I'll assume they've done it correctly :ok_hand:

[2015-12-02 14:13] #185 closed

[2015-12-02 20:56] benkonrath commented on #150
@jieter Is it safe to assume that you closed this issue because you're not planning to work on this any more? I'm planning to setup a deprecation policy for localflavor. Would you be interested in doing the SofiNumber -> BSN rename in the Dutch localflavor after my work has landed?

[2015-12-02 21:28] jieter commented on #150
Hmm, I was to quick in closing this. Might be better to create a new issue of the rename though, I'm willing to work on it then

[2015-12-03 00:04] rush340 opened #187 "AppRegistryNotReady raised if us_states imported in app config ready() method"
If the us_states module is imported within an AppConfig's ready() method, then an AppRegistryNotReady exception will be raised. The sorting for STATE_CHOICES and USPS_CHOICES is forcing resolution of the lazily translated state names at import time, but i18n isn't available yet.

In our case we're importing a view class in our ready() method to read a property off of it. Our views module imports s

[2015-12-03 07:20] claudep commented on #187
Could you please paste the traceback?

[2015-12-03 17:50] rush340 commented on #187
[code]

[2015-12-03 17:53] rush340 commented on #187
It looks like the import works if it's done within the ready() function, so it seems like Django imports the app registry classes before i18n is initialized, but i18n is initialized by the time the app config's ready() method is run.

[2015-12-03 18:47] claudep commented on #187
I think that's the expected behavior. But could you try to generate the traceback once more with `./manage.py runserver --noreload` and paste it if it's different?

[2015-12-03 18:52] rush340 commented on #187
[code]

[2015-12-03 19:03] claudep commented on #187
Thanks.
It might be possible to wrap STATE_CHOICES and USPS_CHOICES inside a `django.utils.functional.SimpleLazyObject`. Not sure if it could have unwanted side-effect...

[2015-12-20 09:15] benkonrath commented on #153
I assume you're referring to the international VIN standard:
https://en.wikipedia.org/wiki/Vehicle_identification_number

A VIN field definitely fits in the generic module of this project. It could accept a list of countries to validate against so that counties can be excluded or included as required (just like the IBAN field).

This project relies heavily on code contributions from our users. The

[2015-12-20 09:15] #153 closed

[2015-12-20 09:32] cool-RR commented on #153
Why close the issue? If it's a valid feature request why not leave it open
indefinitely until someone implements? If it's cluttering the bug reports
maybe use tagging?
On Dec 20, 2015 11:15 AM, "Ben Konrath" <notifications@github.com> wrote:

[2015-12-20 09:53] benkonrath commented on #153
I closed this issue because it's been sitting open with no comments for more than half a year and it's highly unlikely that one of the maintainers will implement it. Closing the issue makes it clear that nobody is working on it, provides focus for the maintainers and gives clear feedback to the person who reported it.

As I said in the previous comment, the feature fits into localflavor but a PR i

[2016-01-14 07:14] btaek opened #193 "Question on Django local flavor"
I am a newbie Django developer in Korea, and I learned about Django local flavor today. But, unfortunately, I find out Django local flavor does not include Korea (South Korea). My questions are:
- Do you have a plan to add Korea to one of following versions of local flavor in near future?
- If there is no plan to add Korea to local flavor anytime soon, can I suggest the Django local flavor team to

[2016-01-14 08:54] claudep commented on #193
Hi btaek,

There are no development "plans", only patches/code written by contributors like you. So if anyone is proposing code adding support for a Korea localflavor, it will get reviewed and finally included in a future release. We're looking forward to your contribution :-)

[2016-01-14 08:54] #193 closed

[2016-01-14 16:25] benkonrath commented on #193
@btaek I just want to add that contributing to this project would be a good way to get more experience with Django. Your code contribution would be reviewed by experienced Django developers and you'll get feedback on how you can improve the pull request that you submit.

The easiest thing to do is to create a pull request with one form or model field for South Korea. Feel free to ask if you have a

[2016-01-15 03:52] btaek commented on #193
Thanks for feedback. I will look into making a code contribution to local flavor. Will post a question if I have one.

[2016-01-18 14:36] graup commented on #161
Just ran into this bug trying to use `localflavor.generic.validators.EANValidator`. It breaks on running `makemigrate`. (Django 1.9, localflavor 1.2)

[2016-01-22 20:34] diegotolentino opened #196 "Brazilian CPF and CNPJ are not in .br.models as changelog 1.2 (2015-11-27) says"
The fields BRCPFField and BRCNPJField not present in tag v1.2 as change log say.

see:
http://django-localflavor.readthedocs.org/en/latest/changelog/#id2
https://github.com/django/django-localflavor/blob/1.2/localflavor/br/models.py

[2016-01-23 05:15] benkonrath commented on #196
The fields are implemented as form fields, not model fields:
https://github.com/django/django-localflavor/blob/master/localflavor/br/forms.py

[2016-01-23 08:38] #196 closed

[2016-03-07 13:29] synotna opened #202 "IBANField with Nordea extensions does not validate"
Using an IBANField with Nordea extensions enabled does not validate when trying to use a Nordea IBAN e.g. from Ukraine, UA573543470006762462054925026

Tested wtih:

Django 1.9.4
django-localflavor 1.2

**models.py**
[code]

**admin.py**
[code]

![ibanfield](https://cloud.githubusercontent.com/assets/3313126/13570835/0dbdc4ec-e471-11e5-916f-a7a6771e493d.jpg)

[2016-03-07 13:34] synotna commented on #202
I tried to debug myself but got lost in django internals; as far as I can tell, the extended validator is somehow forgotten when the ModelForm is instantiated around get_form/modelform_factory

[2016-03-08 17:39] chadsaun opened #203 "Error - "The translation infrastructure cannot be initialized before the ""
I just installed localflavor and then added the `widgets` part to my form.

[code]

Then I get this error below.  But as soon as I comment out the `widgets` part from my form, the error goes away.  Any ideas?

[code]

[2016-03-08 18:17] claudep commented on #203
It's generally a symptom of a wrong import order in your project. Maybe the full traceback could give us a hint about what's happening.

[2016-03-08 18:28] chadsaun commented on #203
Here is the traceback...

[code]

[2016-03-08 19:07] claudep commented on #203
OK, thanks, this shows the bug is valid. `STATE_CHOICES` and `USPS_CHOICES` are sorting their entries by translated string at loading time, hence defeating the purpose of `gettext_lazy`.

[2016-03-08 20:09] claudep commented on #203
Note that this will be difficult to fix if we want to keep the sorting functionality, as the choices are consumed very soon in the form creation process.

[2016-03-09 21:31] benkonrath commented on #202
Thanks for the bug report. I'll try to look into this in the next day or two.

[2016-03-11 14:53] benkonrath commented on #202
@synotna My time is a bit limited today but I can spend a few minutes on this.

One quick fix for supporting the Ukraine IBAN is to use the latest version of localflavor from master. The Ukraine IBAN is now officially part of the IBAN standard and I recently updated the official IBAN dictionary which means you don't have to use Nordea extensions option to validate Ukraine IBANs. Of course this is

[2016-03-11 15:30] benkonrath commented on #202
I have a failing test case for this. I'll pick this up during the DjangoCon EU sprints 2 / 3 April. Thanks again for reporting this problem.

[2016-03-11 19:34] Woile opened #204 "Mexico RFC invalid"
The [RFC](https://github.com/django/django-localflavor/blob/master/localflavor/mx/forms.py#L73) regex is not right, I've used the one mentioned in [this](http://regexlib.com/REDetails.aspx?regexp_id=1065&AspxAutoDetectCookieSupport=1) web and seems to work fine.

[code]

With the current regex, this RFC `GOH831115` is valid and in [this web](https://portalsat.plataforma.sat.gob.mx/ConsultaRFC/) sa

[2016-03-11 23:36] benkonrath commented on #204
Thanks for the bug report. It looks like the min length should be 12 instead of 9.

https://technet.microsoft.com/en-us/library/hh242611.aspx

This means that the regex is also wrong because the last part isn't optional. I don't want to copy the regext from that website because I don't know what the license is. I'll fix this.

[2016-03-11 23:41] #204 closed

[2016-03-12 01:32] Woile commented on #204
Wow I didn't know regex could be licensed :/
Thanks for the update, I will be uploading my project soon.

[2016-03-12 07:44] synotna commented on #202
Awesome, thank you & good luck at the con, looking forward to the talks coming out of it!

[2016-03-30 22:33] jscn opened #205 "Proposal: move repo to jazzband organisation"
There are a number of open pull requests which have been hanging around for some time, awaiting merge or review. It seems as though the repository owners no longer have the time to follow them all up.

Is it worth moving the project to the [jazzband](https://github.com/jazzband) organisation in order to spread the load a bit?

Please do close this issue if this isn't the right forum for this discu

[2016-03-31 00:49] nagisa commented on #205
I do not perceive the so-called load at all here. Due to the nature of the project, no single person is at all qualified to review changes to all the localflavours. For example, I maintain the localflavours of baltic countries, and I feel confident enough merging changes to them, but I have a hard time even imagining the work involved in reviewing localflavour of some South American country – and

[2016-03-31 10:22] ladolf opened #206 "local-flavor SI: SITaxNumberField should not raise exception when control code is 11"
local-flavor 1.2 for Slovenia (SI) has a bug in file localflavor/si/forms.py on line 111:
`if chk == 10:`
which should be replaced with
`if chk == 10 or chk == 11:`

[Tax number check in Slovenia](http://www.davkoplacevalci.com/davcni-klepet/prikaz/razsirjen/24227/kontrola-davcne-stevilke---kako--)

[2016-03-31 15:22] benkonrath commented on #206
Could you create a PR (with a test) for this? Thanks.

[2016-03-31 20:57] benkonrath commented on #161
@graup Thanks for the report. I'm planning to look into this during the Django EU sprints this weekend.

[2016-04-01 08:43] ladolf commented on #206
Here is the test:
[https://github.com/ladolf/localflavor-si-tax-test](https://github.com/ladolf/localflavor-si-tax-test)

Quick example would also be:
`
from localflavor.si.forms import SITaxNumberField
SITaxNumberField().clean('25215930') # random tax number
`

[2016-04-01 11:44] benkonrath commented on #206
Would it be possible for you to make your changes directly django-localflavor and then create a pull request so that we can review it? I can guide you through the process if you're not sure how to start.

[2016-04-01 12:25] ladolf commented on #206
I've never created pull request. I will read some documentation (for example https://www.atlassian.com/git/tutorials/making-a-pull-request) and try to do it. Do you recommend some other documentation?

[2016-04-01 12:56] benkonrath commented on #206
I found this guide that explains how to make a pull request with github as a reference instead of bitbucket.

http://stackoverflow.com/a/14681796

There's a lot of information there so please ask if you're not sure about something. I'm looking forward to seeing your pull request!

[2016-04-01 12:59] benkonrath commented on #206
This guide looks good as well:
https://www.thinkful.com/learn/github-pull-request-tutorial/

[2016-04-01 13:39] benkonrath commented on #205
Moving this project to jazzband is something I've considered proposing as well but in the end, I also thought that wouldn't help getting the PRs reviewed and merged faster. As nagisa pointed, we mostly rely on people with local knowledge contribute new fields and bug fixes and not every collaborator can review all of the PRs. I personally try to review PRs with documentation in languages that I do

[2016-04-01 13:46] claudep commented on #205
I don't think that the maintainership of this module is in such a bad state. I think that pull requests of good quality with tests and documentation generally do not take too long to be committed. Feel free to point at specific issues.

[2016-04-01 13:47] nagisa commented on #205
@benkonrath in rust-lang we use a bot called [highfive](https://github.com/nrc/highfive) which automatically assigns every PR to some maintainer based on the [directory the PR is aimed at](https://github.com/nrc/highfive/blob/master/highfive/configs/rust.json#L8). Since all localflavours have their own directory, I think something like that could work well.

(also see https://www.youtube.com/watch

[2016-04-02 11:43] codingjoe opened #210 "EU VAT numbers"
Hi I'm maintaining `django-vies` a package for european VAT number verification and validation.

I don't use the package myself and like to give it await. Since we are on djangocon it was suggested to merge it into localflavor.

I just did a complete rewrite of the package because I wanted it to be based on a validator rather than on fields only.

It's currently translate in like 3 languages, I'd

[2016-04-02 14:33] Dunedan opened #214 "Fix style warnings and enable build failures for violating the style"
#212 enabled style checking via `prospector`. This style checking is currently also done automatically via TravisCI for every new commit, but because of the number of current style violations failing the build because of style violations is disabled via passing the `--zero-exit` parameter to `prospector`.

After all style warnings got fixed enabling build failures for new style violations would be

[2016-04-02 22:06] benkonrath commented on #205
@nagisa highfive looks great. It will give us a nice overview of who's involved with which localflavor. After watching the video and looking at the sources, It's not clear to me how it's configured for a specific repo? Do you know how to do it?

[2016-04-03 09:12] #202 closed

[2016-04-03 11:35] nagisa commented on #205
@benkonrath One can run their own instance, the [README](https://github.com/nrc/highfive/blob/master/README.md#adding-a-project) contains the setup instructions.

That being said, there’s [a bunch of code](https://github.com/nrc/highfive/blob/master/highfive/newpr.py#L188) hardcoded for assumptions about rust-lang repos, so it is very likely bot will need adaptations (or it might be easier to writ

[2016-04-03 14:04] #161 closed

[2016-04-03 15:59] benkonrath commented on #161
@graup Your specific issue with the validator should now be fixed - thanks @unloder!

[2016-04-03 16:40] vladimirnani commented on #203
@chadsaun Hey. Im unable to reproduce this issue. Can you please make sure thatf you have
`application = get_wsgi_application()`
instead of `application = WSGIHandler()` in your wsgi

[2016-04-04 08:08] ladolf commented on #206
I created PR (maybe description "Closes #206" should be more informative):
https://github.com/django/django-localflavor/pull/221

I also updated authors, changelog and tests.

[2016-04-04 13:39] benkonrath commented on #206
@ladolf Thanks! Great to see you were able to work out how to make a pull request.

Normally you would put something informative in the summary of the commit message (the first line is the summary) and then you can put more information in the subsequent paragraphs as required. You could put "Closes #206" in one of the subsequent paragraphs.

I found this guide that might be useful if you're intere

[2016-04-05 10:31] jieter commented on #205
@claudep Since you are asking for specific numbers: #152 was first proposed on 2015-05-09 (incomplete), almost complete at 2015-09-10, merged on 2015-12-02 and still not released to pypi today.

Time between releases seems to be quite long too:
1.2 released on 2015-11-27
1.1 released on 2014-12-10
1.0 released on 2013-07-29

While I can and do understand the reasons for these delays, for me, they'

[2016-04-08 18:49] claudep commented on #205
@jieter thanks for these numbers. The fact that we enrolled Ben in the releasers team was also in the hope that we could release more often. Talking of that, Ben, what about releasing 1.3 soon to prove that :-)

[2016-04-10 19:38] benkonrath commented on #205
@nagisa Thanks for the info on highfive. I was hoping for something more plug and play but even if it was, it seems this should be setup for the django project as a whole rather than just localflavor. Unfortunately I don't have the time to drive something like this forward right now.

@claudep  Yeah, I can cut a release soon. I was hoping to get the deprecation stuff in place before the next relea

[2016-04-13 04:26] jscn commented on #205
It might be good to document what "too long" is for this project. Should contributors expect a turnaround of a few days or a few weeks or ..?

[2016-04-25 13:56] benkonrath commented on #205
@jscn You'll have to use your best judgement on when to remind people. I'm reluctant to provide exact response timelines because I can't speak for the other contributors and I don't want people to get unrealistic expectations.

I'm going to close this issue as the active contributors have agreed that contributing this project to jazzband isn't the right move for us right now.

[2016-04-25 13:56] #205 closed

[2016-04-25 14:11] jieter commented on #205
Releasing more often, with smaller change logs might not require more developer/maintainer time and will fix my problem of waiting long before a new release is made. Any reason not to release once a PR is properly reviewed and merged?

It shouldn't be hard to automate it enough to make it a quick task...

[2016-04-25 14:23] claudep commented on #205
Releasing more often is definitely desirable. After each PR doesn't seem realistic. You can always install from Github if you really need a new feature immediately.

[2016-04-25 14:35] benkonrath opened #228 "Releasing 1.3 on 6 May 2016"
I was hoping to get to the release before my vacation but I'm short of time right now. I will do the 1.3 release on 6 May 2016.

@claudep Are you able to update the translations before then? I can send add a comment on the 5th to remind you if required. Thanks.

[2016-04-25 14:37] claudep commented on #228
Sure, will do.

[2016-04-25 14:37] benkonrath commented on #205
@jieter It's coming: #228 I just ran out of time before I head offline for a week (starting tomorrow).

[2016-04-29 21:56] stugots commented on #203
I'm seeing this error too.  My wsgi.py has `application = get_wsgi_application()`.

[2016-04-30 10:01] claudep commented on #203
If this is happening because of an entry in the `widgets` attribute of a `Meta` form class, you should provide a select class instead of a select instance (`USStateSelect` instead of `USStateSelect()`). Of course, this doesn't work when you have to pass arguments to the widget.

[2016-05-02 17:59] claudep commented on #228
Translations updated.

[2016-05-06 14:09] benkonrath commented on #228
Thanks @claudep! 1.3 has been released.

[2016-05-06 14:09] #228 closed

[2016-05-06 14:16] claudep commented on #228
Thanks Ben!

[2016-05-06 16:47] burhan opened #230 "Tests Broken"
Tests are no longer working on the master branch:

[code]

I believe this has to do with [`pyflakes` bug #1560134](https://bugs.launchpad.net/pyflakes/+bug/1560134) the fix has been pushed, but the tests are not updated with the latest version.

[2016-05-06 19:13] benkonrath commented on #230
pyflakes is being pulled in through prospector. Perhaps it would be a good idea to pin prospector to a specific version. This problem isn't critical just yet because we're not enforcing a style with prospector just yet.

[2016-05-06 19:34] benkonrath commented on #230
@burhan I just realized that you're having problem locally. How are you running the tests to get this error? Does it work for you to run the tests with tox?

[2016-05-06 20:12] burhan commented on #230
I simply cloned the repo, created a new virtualenv, did pip install tox,
and then typed tox.

On Fri, May 6, 2016, 10:34 PM Ben Konrath <notifications@github.com> wrote:

[2016-05-06 21:12] burhan commented on #230
I temporarily resolved this issue by adding `--without-tool pyflakes` to `tox.ini` for the prospector configuration:

[code]

[2016-05-06 21:34] burhan commented on #230
Travis builds are also failing now.

[2016-05-06 23:58] burhan commented on #230
Temporary fix is to disable the `pyflakes` tasks in `tasks.py`

[2016-05-07 15:08] benkonrath commented on #230
I didn't realize that flake8 is run in the test task independently of the prospector job. I'll try to fix this.

[2016-05-08 00:24] benkonrath commented on #230
See the comment in #233 about the fix not working.

[2016-05-08 09:11] benkonrath commented on #230
@burhan I see that the tests in your pull requests are now passing. Are you still having issues with the tests failing on your computer?

[2016-05-18 19:02] svmalvaez opened #234 "Change 'DIF' to 'CDMX' in mx_states.py"
in STATE_CHOICES change

('DIF', _('Distrito Federal')),

to

('CDMX', _('Ciudad de México')),

[2016-06-20 16:48] lissizza commented on #203
Have the same bug. I tried to migrate from the old version `django_localflavor_*` to the new `localflavor`. After changing import strings I received the same errorr:
[code]
Any import, even simle `from localflavor.us import models` gives this result. The old variant works perfectly.

[2016-07-03 10:44] benkonrath commented on #230
The tests appear to be working properly now.

[2016-07-03 10:44] #230 closed

[2016-08-15 01:23] hugoantunes opened #241 "IBANFormField raise django.core.exceptions.ImproperlyConfigured to include_countries=ISO_3166_1_ALPHA2_COUNTRY_CODES"
Hello,

I didn't found any issue about this so I hope you can help me.

When a tried to use ISO_3166_1_ALPHA2_COUNTRY_CODES at IBANFormField this exception was raised
[code]

[code]

From what I could see in 'localflavor/generic/validators.py' line 144 you validate the length of IBAN according to the country initials.  However, there is more countries in ISO_3166_1_ALPHA2_COUNTRY_CODES than IBAN_C

[2016-08-15 05:38] benkonrath commented on #241
The IBAN format is not defined for all countries.
https://en.wikipedia.org/wiki/International_Bank_Account_Number#Adoption

This means you can't set `include_countries` to `ISO_3166_1_ALPHA2_COUNTRY_CODES` because it's a list of all country codes.

To accept all IBANs in your form, just use the `IBANFormField` with no options like this:

[code]

Does this help with your problem?

[2016-08-16 01:01] hugoantunes commented on #241
@benkonrath your are rigth !!

works perfectly, thank you!

best

[2016-08-16 01:01] #241 closed

[2016-08-19 18:04] mboisvertUW commented on #203
I am also encountering this but only when I run celery on Heroku.  Does not happen when I run celery locally.  Sounds like I may have a setup issue but I am not sure where.  Any ideas for me?

[2016-08-19 21:56] claudep commented on #203
Only looking at the traceback can show what is possible to prevent this error. Generally, try to not trigger import of localflavor stuff in the __init__ file of any app.

[2016-09-26 07:31] benkonrath commented on #206
@ladolf As far as I can see, a control code of 11 means that the SI tax identification number is invalid. Here are the two references I found about this:

http://zylla.wipos.p.lodz.pl/ut/translation.html#PZSI
https://github.com/arthurdejong/python-stdnum/blob/352aa8aef4b60456fba02a52460e9b8c6462b2fb/stdnum/si/ddv.py#L48

I'm closing this issue for now. Feel free to re-open this issue if you find a

[2016-09-26 07:31] #206 closed

[2016-10-25 15:33] lukasklein opened #249 "US: Translation of the state Georgia collides with the country"
Turns out there's an US state Georgia and a country with both the exact same name, but, at least in Germany, only the country Georgia has a translation. So translating the US state to the same thing as the country causes confusion.
I have "fixed" this in our project using

[code]

More generally asking: Should US state names be translated at all?

[2016-10-25 17:55] claudep commented on #249
Yes, absolutely.

The solution to disambiguation is to use pgettext_lazy (`('GA', pgettext_lazy('US state', 'Georgia')`).

[2016-11-05 12:21] orf commented on #234
This is a tricky one, because we have to make the change in a backward compatible way. I propose that we do this in two stages, firstly we rename 'Distrito Federal' to 'Ciudad de México' and keep the 'DIF' key. We also add a deprecation warning to the Mexican models/forms that throws when 'DIF' is encountered.

The end-user needs to run a migration to migrate 'DIF' to 'CDMX', and once they do they

[2016-11-06 10:43] unloder opened #258 "Depricate non pep8 compliant class and method names"
**class SGNRIC_FINField(CharField):**
The name of this field could not be changed for backwards compatibility reasons. This field should get renamed and eventually deprecated when a deprecation solution will get implemented.
localflavor/sg/forms.py
  Line: 62
    pep8: N801 / class names should use CapWords convention (col 7)

**def DV_maker(v):**
/home/unloder/WWW/django-localflavor/localflavor/b

[2016-11-06 10:43] unloder commented on #214
Styling errors that were not fixed, and marked with # noqa:

localflavor/id_/forms.py
  Line: 111
    mccabe: MC0001 / IDLicensePlateField.clean is too complex (12)

localflavor/no/forms.py
  Line: 46
    mccabe: MC0001 / NOSocialSecurityNumber.clean is too complex (13)

localflavor/sg/forms.py
  Line: 62
    pep8: N801 / class names should use CapWords convention (col 7)

https://github.com/djang

[2016-11-06 12:42] unloder opened #261 "refactor complex methods"
These methods are too complex to pass prospector so should be refactored

**mccabe: MC0001 / IDLicensePlateField.clean is too complex (12)**
localflavor/id_/forms.py
Line: 111

**mccabe: MC0001 / NOSocialSecurityNumber.clean is too complex (13)**
localflavor/no/forms.py
Line: 46

[2016-11-06 12:52] benkonrath commented on #210
I just had a chat with @codingjoe at the Django Under the Hood sprints. Here's a summary:

* The EU VAT field is a good fit for localflavor.
* This won't be direct cut and past of the code from django-vies.
* We should use 2 validators: 1 with the syntax validation, 1 with the soap validation. The field will default to only use the syntax validation. Users can opt in to use the soap validation eit

[2016-11-06 12:57] #214 closed

[2016-11-06 13:00] benkonrath commented on #249
This has been fixed but the translations probably need to be updated before it will be fully solved.

[2016-11-06 19:40] claudep commented on #210
FWIW, I'm +1 for depending on python-stdnum instead of rolling our own validation code whenever possible.

[2016-11-06 19:49] claudep commented on #249
The translation catalog has been updated in https://github.com/django/django-localflavor/commit/ca33c5b864dd57fc3ccd50d709ede3cd81982b7e. Transifex should contain the modified strings soon…

[2016-11-09 21:32] benkonrath commented on #210
@claudep That's my feeling as well so it's nice to hear you agree.

[2016-11-11 21:25] vladimirnani commented on #261
@unloder what command do you run to see these exceptions

[2016-11-11 22:22] benkonrath commented on #261
@vladimirnani Remove the 'noqa' comment in the referenced lines and run the prospector command.

[2016-11-12 00:27] vladimirnani commented on #261
@benkonrath ok thanks

[2016-11-16 15:58] vladimirnani opened #265 "Deprecate function validators"
As discussed in [#263](https://github.com/django/django-localflavor/pull/263) deprecate *_validator methods in favor of class type validators.

[2016-11-16 19:59] #261 closed

[2016-11-20 17:17] orf commented on #234
I took a stab at this at the recent DUTH conference sprints and made good headway, which can be found in #256. The problem is pretty tricky and I wanted to document the solution we came up with in this ticket, although it's not specific to this issue.

Simply renaming `DIF` to `CDMX` will cause issues with people who have `DIF` in their database as the choice is suddenly not there. Things like `ge

[2016-11-25 05:03] bpinnell opened #266 "ABN validation"
When using Django Admin with a model containing an AuBusinessNumber field, the field is displayed with spaces. Upon saving the model, validation fails because those spaces, so even if you don't touch that field you have to delete the spaces in order to save the model.

[2016-11-25 08:17] #266 closed

[2016-11-25 08:18] benkonrath commented on #266
Thanks for reporting the issue. It should be fixed in master. You need to install that specific version until I have a chance to release 1.4 (hopefully sometime in the next couple of weeks).

[2016-11-25 09:20] benkonrath commented on #234
Thanks for the summary and for your work on this. Since the DUTH sprints, I've also been looking around at options for this and it turns out that localflavor has a solution using the Python Warning control system.

https://django-localflavor.readthedocs.io/en/latest/#backwards-compatibility

I'm pretty sure this was setup before the checks system was introduced in Django and I don't think it's eve

[2016-11-26 09:30] benkonrath commented on #234
Just a quick update on this. The Python warnings system might be the better approach for the notifications. I'm still trying to understand when and when not to use system checks. Ive started a discussion about this on #262. I may post a message to django-devel to get more input.

[2016-11-26 11:57] benkonrath commented on #234
It seems that we could use system checks for this but Python warnings is more the approach that Django itself would use. My preferred procedure for this kind of data change stands (comment from yesterday) except that we should use Python warnings instead of system checks. This allows the existing procedure to be used which should simplify things a little. @orf Does this seem like a good way forwar

[2016-11-26 13:11] vladimirnani opened #269 "MD localflavor"
Add Moldova flavor.

Fields to consider:
**IDNO** (Fiscal number)
Example: `1010600026974`
Examples (Old): `169011,25038012`

Not sure how to deal with legacy IDNO, new ones are always following this pattern `\d{13}`.

[2016-11-26 17:35] benkonrath commented on #269
If the old IDNO numbers are still valid in Moldova, you should have 2 validations in the MDIDNOField. Just detect which version the user entered and run the correct validation. Does this help?

[2016-11-26 17:37] vladimirnani commented on #269
Yes. Thanks. Ill have two different validators.

[2016-11-26 18:07] benkonrath commented on #269
You could also have the validation logic for both versions of the IDNO in the same validator. It really depends on whether or not a new and old validator would be useful independently of each other. As a developer of website targeting Moldova, I probably just want to know if the IDNO is valid and I don't really care if it's the old or new version. But that's only something a Moldovan developer wou

[2016-11-26 19:44] vladimirnani commented on #269
I guess I'll have two fields. One for current idno format and one for
fallback.

On Nov 26, 2016 8:07 PM, "Ben Konrath" <notifications@github.com> wrote:

You could also have the validation logic for both versions of the IDNO in
the same validator. It really depends on whether or not a new and old
validator would be useful independently of each other. As a developer of
website targeting Moldova, I

[2016-12-10 14:45] orf commented on #234
Hey @benkonrath, sorry for the late reply, I've been a bit busy recently. That approach sounds great, I can find some time this coming weekend to try and implement the warnings in the clean method.

[2017-01-03 15:06] #203 closed

[2017-03-07 00:55] koterpillar opened #282 "Add Australian Company Number validator"
Add [Australian Company Number](https://en.wikipedia.org/wiki/Australian_Company_Number) model and form fields.

See #278 for the pull request.

[2017-03-10 00:20] koterpillar opened #285 "Validate 8-digit Australian tax file numbers properly"
Fix validating 8-digit [Australian tax file numbers](https://en.wikipedia.org/wiki/Tax_file_number).

PR #284.

[2017-03-10 11:13] benkonrath commented on #285
Fixed via 2a8a506a334d8e4a127f5c2591ffe7cc8e48c45d.

[2017-03-10 11:13] #285 closed

[2017-03-10 11:13] benkonrath commented on #282
Fixed via 76c1a0ea01a0bff952b80ae26d13e3eeb48c32d7.

[2017-03-10 11:13] #282 closed

[2017-04-07 21:14] aaboffill opened #286 "Add local-flavor support for Cuba"
There aren't support for Cuba, I'll add the corresponding features in order to contribute with the community.

[2017-04-30 20:28] benkonrath commented on #249
A fix for this issue was included in the 1.4 release.

[2017-04-30 20:28] #249 closed

[2017-05-19 12:14] benkonrath opened #290 "upgrade to Prospector 0.12.5"
I've fixed the version or Prospector to 0.12.4 because version 0.12.5 adds some additional checks that fail on localflavor. These failures need to be addressed - either disable the check or fix the problem - before we can upgrade to Prospector 0.12.5.

[2017-05-19 12:19] benkonrath opened #291 "release version 1.5 on 26 May 2017"
I will release version 1.5 on Friday 26 May 2017.

@claudep I just updated the translation catalog which is why I'm waiting a week to do the 1.5 release. Can you update the translations on Thursday 25 May or Friday 26 May? Thanks.

[2017-05-19 12:52] claudep commented on #291
Sure, just re-ping me at that time if needed.

[2017-05-19 12:54] claudep commented on #290
Also let's check that we don't pass more time fixing "cosmetic" issues than working on real functionalities!

[2017-05-19 13:20] benkonrath commented on #290
Yeah, of course. That's why I just disabled the upgrade to 0.12.5. I wanted to make an issue for this just to highlight that I made this change. I have no intention to work on this anytime soon so it's also ok by me if we close this issue.

[2017-05-26 09:54] claudep commented on #291
Done in 1cb0111

[2017-05-26 13:17] benkonrath commented on #291
Thanks @claudep. I've just released localflavor 1.5.

[2017-05-26 13:17] #291 closed

[2017-05-26 13:18] claudep commented on #291
Thanks Ben!

[2017-06-11 01:55] ka7eh opened #293 "Override choices in State field"
I noticed `choices` attribute on `us.models.USStateField` cannot be overriden and always uses `US_STATES`. I'd like to override that with `us.us_states.STATE_CHOICES` instead.

I know I can do it on a form level and validate against `STATE_CHOICES`, but I'm fetching my choices using Django Rest Framework which looks at whatever choices is set on the model level.

Should the above-mentioned field b

[2017-06-12 00:23] ka7eh commented on #293
Never mind this, I overrode the state field in my serializer.

[2017-06-12 00:23] #293 closed

[2017-06-12 17:26] benkonrath commented on #293
If you want to fix this generally, you can make a PR to allow `choices` to be overridden. Just make sure that  the default `STATE_CHOICES` is kept. Thanks.

[2017-06-12 17:27] ka7eh commented on #293
Sure, I can do that. I just wanted to know the rationale behind it and whether that behavior was intentional or not.

[2017-06-12 17:39] benkonrath commented on #293
I'm not sure the original rationale - the code in localflavor has been developed by many people over the course of many years. In general if there's a concrete use-case for a change and somebody is willing to make a PR, we'll accept it.

[2017-06-14 15:58] peterfarrell opened #294 "Django 1.11.x and null=True Blank=Ture with us.models/forms.USZipCodeField causes crash"
After upgrading from Django 1.10.x to Django 1.11.2 both using localflavor 1.5, the USZipCodeField with null=True, blank=True causes a crash during validation of a `ModelForm` when the zip code is left blank.

Model:
[code]

Form uses a simple `ModelForm`

Error:
[code]

Downgrading to Django 1.10.x fixes the issue. Looks like older versions of Django return a '' empty string if blank in which you

[2017-06-17 15:23] #294 closed

[2017-07-02 18:01] devkral commented on #59
Problematic are provinces vs states, double localizing (de.DEZipCode  us.USZipCode, DEStateSelect,...).
I propose to move everything general into the generic package and put the country data and country specific stuff into the country packages.

[2017-07-21 10:12] benkonrath commented on #150
@jieter If you're still interested in working on this, now would be a good time. There are a few examples of deprecations in the code base that you can use to help you get started. Just search for `RemovedInLocalflavor20Warning`.

[2017-07-27 08:52] jieter commented on #150
I can invest some time in about two weeks.

[2017-07-28 10:47] jieter commented on #150
#307.

Regarding the comment of @erikr about special terratories NL: I don't think that applies as they have a different country code, so it doesn't make sense to save it in a `NLBankAccountNumberField`.

For example, [Sint Maarten](https://www.rabobank.nl/particulieren/betalen/betalen-buitenland/betalingsinformatie/sx/)

[2017-11-17 11:36] benkonrath opened #312 "release version 1.6 on 21 November 2017"
I will release version django-localflavor 1.6 on 21 November 2017 so that I can prepare for the 2.0 release of localflavor to match Django 2.0.

[2017-11-17 11:37] benkonrath commented on #312
@claudep Can you update the translations on 20 or 21 November?

[2017-11-17 13:31] claudep commented on #312
Sure, please ping me if I forget.

[2017-11-21 09:42] benkonrath commented on #312
@claudep Just a reminder to update the translations for today's release. Thanks.

[2017-11-21 15:13] claudep commented on #312
Sorry, working on it now.

[2017-11-21 15:18] claudep commented on #312
Ben, do you think it'd be a good idea to remove source lines from po files (doing an msgcat --no-location on each po file before commit)?

[2017-11-21 15:49] benkonrath commented on #312
I think it would be fine. But since I don't do any translations, I don't know what the impact this has on the translations or for translators. Is the benefit just that the translation updates don't change when the source text moves around in the file based on other changes?

[2017-11-21 15:55] claudep commented on #312
Yes, the benefit is shorter commits. The en.po should keep the source locations so Transifex is still able to give that context information to translators.

[2017-11-21 16:01] benkonrath commented on #312
Ok, sounds good. Is it possible to add this to the `pull_translations` task? I don't know if you use this task but it would be nice to have translation update procedure documented somewhere.

[2017-11-21 16:07] claudep commented on #312
Oh, I didn't know about `tasks.py`! Will try to update it.

[2017-11-21 16:30] claudep commented on #312
See https://github.com/django/django-localflavor/pull/313

[2017-11-21 20:59] benkonrath commented on #312
I just want to confirm the #313 also had the updated translations. It's a big diff so it's hard to read. I'll make the release once I know that the translations have been updated.

[2017-11-21 21:22] claudep commented on #312
No, it didn't include them, I just pushed them in ca6fcf8
Sorry for being late.

[2017-11-22 08:15] benkonrath commented on #150
@jieter I deprecated the SoFiNumber fields and added BSN fields in #314. Are you still interested in renaming the form fields? If not, this issue can be closed. Renaming the NL form fields would need to happen in the django-localflavor 2.x release cycle.

[2017-11-22 08:29] benkonrath commented on #312
1. 6 has been released.

[2017-11-22 08:29] #312 closed

[2017-11-22 08:35] claudep commented on #312
\o/

[2017-11-22 12:46] Stranger6667 opened #315 "Czech birth number validation issue"
As stated in the source code ([here](https://github.com/django/django-localflavor/blob/master/localflavor/cz/forms.py#L74))

And then there is the following condition check:

[code]

This means, that birth numbers that were issued after 1954.1.1 but don't have fourth digit in it will not be validated. But in fact they are invalid. For example:

**Birth number**: 600110/0006

This one passes the va

[2017-11-23 09:10] #315 closed

[2017-11-23 09:16] jieter commented on #150
Hmm, I think it's not worth the effort, lets keep them like they are...

[2017-11-23 09:16] #150 closed

[2017-11-24 16:08] benkonrath opened #317 "Fix documentation about dropping Python 2 and Django 1.11 in the 2.0 release"
I misread #310 as "drop Django <= 1.11" when it's in fact "drop Django < 1.11". This means that we're not dropping support for Python 2 nor Django 1.11 in django-localflavor 2.0. The documentation in the changelog and the README needs to be corrected with a release of 1.6.1 so that users are informed correctly about the next release. I should be able to get to this in the next couple of days.

[2017-11-24 22:17] benkonrath commented on #317
Fixed via 2701b4de0f9717a7970c9bebf5cebf5cdfc0e75d.

[2017-11-24 22:17] #317 closed

[2017-12-06 10:39] mynumbercrunching opened #320 "Django 2.0 issue"
Is this a casualty for 2.0?

Exception Type: | TypeError
Exception Value: | __init__() takes 2 positional arguments but 4 were given
/v_env/lib/python3.6/site-packages/localflavor/compat.py in __init__, line 16

thanks

[2017-12-06 10:44] #320 closed

[2017-12-07 08:55] benkonrath commented on #320
The master branch has support for Django 2.0. I'll put out a new release in a week or two.

[2017-12-07 08:56] mynumbercrunching commented on #320
Awesome thank you.  Do you know the 2.0 issue.  Have another package with issues.

thomas wm. benson | student of humanity & citizen of the world  | diogenes@me.com  |  +1. 239 . 206 . 3240

	“Government is not a solution to our problem - government is the problem.” - Ronald Reagan

[2017-12-07 16:10] benkonrath commented on #320
I don't know what the problem is off the top of my head. In any case, this isn't the right place to ask for general help or support with Django. You can post you question on the Django Users mailing list or ask on Stack Overflow.
https://docs.djangoproject.com/en/dev/internals/mailing-lists/#django-users

[2017-12-14 10:03] benkonrath opened #322 "django-localflavor 2.0 - release compatible with Django 2.0"
I'm filing this issue as a place to discuss the upcoming 2.0 release of django-localflavor.

I'd like to get this release out as soon as possible. The only thing blocking this release is django-phonenumber-field's missing support for Django 2.0. Since we're removing the phone number fields in localflavor, there should be an option for users to migrate to. I made a PR to fix this already but I'd li

[2017-12-19 23:04] estevaobarbosa opened #323 "Django-Localflavor 1.6.2 incompatible with Django 2.0 in regionalized items for Brazil"
The Django-Localflavor 1.6.2 package is incompatible with Django 2.0 in the regionalized items for Brazil. When Django returns to version 1.11, the Localflavor routines return to run.

Send down the source code and the error message:

Thanks,

Estevao Lemos Barbosa

===========
Code:
===========
from django import forms
from localflavor.br.forms import BRCPFField, BRCNPJField, BRPhoneNumberField,

[2017-12-21 12:33] benkonrath commented on #323
The master branch works with Django 2.0. See #322 for details about when this will be released.

Can you test with the master branch to confirm it's working for you?

[2017-12-22 16:21] scott-weaver commented on #322
Do you know when 2.0 will be officially released?

[2017-12-22 21:00] benkonrath commented on #322
I'm hoping to release 2.0 before the end of the year. Our official target is within one month of the compatible Django release. Having my Django 2.0 PR at least merged in django-phonenumber-field is the only real blocker but I'm not planning to extend the one month target just for this.

[2017-12-27 11:16] benkonrath commented on #322
@claudep Could you update the translations to prepare for the 2.0 release if you have a chance in the next couple of days? Thanks!

[2017-12-27 16:25] claudep commented on #322
Done.

[2017-12-30 13:57] benkonrath commented on #322
Thanks Claude. I've just released django-localflavor 2.0.

[2017-12-30 13:57] #322 closed

[2017-12-30 13:59] benkonrath commented on #323
django-localflavor 2.0 has just been released. I'm assuming that that using the 2.0 release will fix your problem. If you still have this problem with django-localflavor 2.0, please reopen this issue.

[2017-12-30 13:59] #323 closed

[2017-12-30 14:21] codingjoe commented on #210
I agree that including `python-stdnum` makes sense, this is a separate issue. The packages does provide a lot of functionality that we have already implemented. This introducing it, should also mean removing a lot of functionality.

Furthermore there are already validator functions provided. Maybe it makes sense to introduce a `contrib.django` part into that library adding it here.

Anyhow, but do

[2017-12-30 17:20] estevaobarbosa commented on #323
The error is solved. Thank you.

[2018-02-07 09:05] frague59 opened #326 "A fr localflavor package"
Hi,
I'm using django / django-localflavor for many years, on `legacy` projects, (I've started working with django 1.2 / 1.3 I think)

Those projects has been upgraded with regularity, adding functionalities, but I'm embarrassed with the 2.0 release of django-localflavor: I don't find my FRPhoneNumberField(s) anymore. Here in France, we have a really particular way to spell our phone numbers: 0X XX

[2018-02-07 09:37] #326 closed

[2018-02-07 09:39] claudep commented on #326
Hi François,
You are aware that those phone number fields have been removed in favor of `django-phonenumber-field`, right?
So are you saying that the equivalent in `django-phonenumber-field` is not as flexible as the old `FRPhoneNumberField`? Don't you think that `django-phonenumber-field` could be extended to support the French syntax?

[2018-02-07 09:42] frague59 commented on #326
Sorry, I've tested it completely, and `django-phonenumber-field` actually works... I've been too quick to post an issue on it.

[2018-02-10 21:32] #210 closed

[2018-03-19 22:32] smallship opened #329 "IE forms docstring refers to UK"
**/localflavor/ie/forms.py**
"""UK-specific Form helpers."""

should be

"""IE-specific Form helpers.""", or  """Ireland-specific Form helpers."""
Some countries seem to use 2-letter codes, some the full name.

[2018-03-20 15:16] #329 closed

[2018-03-20 16:24] smallship commented on #329
Thanks for the fix!

[2018-04-12 14:46] jsandovalc opened #330 "Existant RFC fails with invalid checksum for MX"
Hi and thanks for the great work with django-localflavor.

We are currently using RFCs from Mexico in our app. We found a weird RFC (ACE900319JT9) that fails with invalid checksum error. According to this official site: https://portalsat.plataforma.sat.gob.mx/ConsultaRFC/, it's a valid RFC.

¿Any suggestion about what to do here?. It looks like an incorrectly generated (but already existant) RFC.

[2018-04-13 08:26] benkonrath commented on #330
I just tried on the validator site you mentioned with RFC ACE900319JT9 and I get the same valid response. I didn't write the code for the RFC validations so I don't know what's going on. I suggest investigating the format of the RFC; it could be that ACE900319JT9 is a special case, a new format or an old format that needs to added to the localflavor implementation.

[2018-04-16 13:20] OdyX opened #331 "EAN validator is too picky"
In the context of the https://github.com/defivelo/db project, I have two EAN numbers which validate on https://www.getnewidentity.com/validate-ean.php but are not considered valid by from `localflavor.generic.validators.EANValidator`:

[code]

These don't work for instance:
* `756.7554.3943.80`
* `756.4334.3999.00`

As mentionned in the pull request, this is an issue about the `calculated_checksum

[2018-04-16 14:45] #331 closed

[2018-04-16 20:47] marcinn opened #333 "Why not model fields?"
I wonder why this package contains form fields instead of model fields.

[2018-04-17 12:31] andrelramos commented on #333
+1

[2018-04-25 07:38] benkonrath commented on #333
There actually are some model fields in localflavor. I think this "forms first" setup of localflavor comes from decisions made when this code was part of Django. I wasn't involved with then project at that stage so I'm only guessing. Pull requests are welcome that add model fields.

I'm closing this issue as I think I answered the question. If you feel this topic still needs some discussion, feel

[2018-04-25 07:38] #333 closed

[2018-04-26 00:04] andrelramos opened #334 "Model fields to brazillian documents"
I'm working on a system that needs some specific brazilian fields. Some of them already has in br form fields but a have many model forms that needs this fields and it would be nice if they were created as model fields.

The fields are:

- Brazilian documents (CPF and CNPJ)
- Brazilian Telephone and Cell Phone format
- Brazilian Zip Code

In 2015 i was started a PR with code to solve it (#188) but

[2018-05-03 08:15] benkonrath commented on #334
It's fine by me. I don't know what the PR was turned down last time. I'll review this PR when you make it.

It's best to extract the validation into a separate validator and use this validator for the form and the model. You can look at some the example models already included in localflavor to see how it's done (e.g. the IBAN fields).

If you're not sure about something, just make a 'work in prog

[2018-06-01 10:46] KenBuckley opened #336 "Cannot override Spanish invalid ESIdentityCardNumberField message"
In location: django-localflavor/localflavor/es/forms.py

It appears that error_messages['invalid'] will always be overwritten by self.default_error_messages,
which of course does not allow us to override the message (or the only_nif error message either by the looks of it).

**class ESIdentityCardNumberField(RegexField):**
    ...
    def __init__(self, only_nif=False, *args, **kwargs):
       ...

[2018-06-18 20:54] fpuga opened #338 "Propposal: Include `code` in ValidationError"
Most of the django core validators like [EmailValidator](https://github.com/django/django/blob/master/django/core/validators.py#L191), set the `code` parameter to `invalid`. I think that this can also be done in localflavor.

For example this can be used in testing to check a validation without need to parse the localized message.

[2018-06-19 07:14] claudep commented on #338
Makes sense.

[2018-06-21 07:34] #336 closed

[2018-06-22 14:58] elpaso opened #340 "IBANFormField error with Django 1.10.7"
[code]

I checked 1.6.2 too but the code looks the same.

[2018-06-23 12:42] benkonrath commented on #340
django-localflavor 2.0 dropped support Django 1.10 because it's no longer supported.

Does the problem happen with version 1.6.2 as well?

[2018-06-23 15:54] elpaso commented on #340
yes, I ended up with https://github.com/elpaso/django-localflavor/commit/d24c3aeb27ba135f75d6871f668b9a22d7cdd032

[2018-07-04 19:55] benkonrath commented on #340
@elpaso Since you haven't replied, I'm assuming you're ok with the fix you have. Feel free to re-open and reference this issue in any pull request you make to the 1.6.x branch if you want to help fix the problem. Thanks.

[2018-07-04 19:55] #340 closed

[2018-07-27 08:19] benkonrath commented on #338
@fpuga Thanks for the proposal. Would you be interested in contributing this change to localflavor?

[2018-08-09 15:54] #269 closed

[2018-08-10 07:36] benkonrath opened #343 "2.1 release planning"
This is the planning for the 2.1 release.

String freeze: 16 August 2018
Release date: 23 August 2018

Please add a comment on this issue if there's a problem with these dates.

[2018-08-23 15:50] benkonrath commented on #343
@claudep  or @MarkusH, Could one of you update the translations so that I can make the release? Thanks.

[2018-08-23 17:38] claudep commented on #343
I have the time for that, but maybe @MarkusH wants to try the workflow?

[2018-08-23 20:45] benkonrath commented on #343
That makes sense if Markus has time. I'll do the release once the translations have been updated - it's ok if it's in a day or two.

[2018-08-24 03:37] MarkusH commented on #343
I'll do that in the next break of DjangoCon Australia. I've been super jet-lagged and lost track of all the things.

[2018-08-24 13:31] MarkusH commented on #343
Alright, @benkonrath, with some delay, #347 is now a thing. Merge at will.

[2018-08-24 19:48] benkonrath commented on #343
django-localflavor 2.1 has been released. Thanks for the PR @MarkusH and thanks for reviewing it @claudep!

[2018-08-24 19:48] #343 closed

[2018-08-24 19:49] claudep commented on #343
Thanks Ben for your precious work!

[2018-08-30 20:53] yourcelf opened #348 "Proposal: Form and model field for country?"
Would a form field and model field for specifying a Country be within the scope of `django-localflavor`?

The [`localflavor.generic.countries.iso_3166`](https://github.com/django/django-localflavor/blob/master/localflavor/generic/countries/iso_3166.py) module already contains a list of ISO 3166-1 alpha-2 country codes.  This could be trivially updated to include the name of the country as a two-tu

[2018-09-18 00:45] JJZolper opened #350 "Could we add some kind of Slug translation?"
I'd like to use this library but besides just selecting a State with the VA / Virginia I'd like to have a slug version for using in URLs so just "va". I'm trying to figure out how to best do this maybe lowering "VA" to "va".

Thanks for any comments.

[2019-01-03 02:32] darkpixel opened #356 "Feature Request: Improve PhoneNumberField searching in admin"
I use the US PhoneNumberField in an application and I regularly use the admin interface to search for numbers.  I frequently forget and search using the format '3609991234' and get zero results.  If I search using the format '360-999-1234' search returns the record.  I haven't looked at the underlying code yet, but I would love to see the ability to search for numbers without having to remember to

[2019-01-07 20:58] benkonrath commented on #356
The phone number fields have been removed in 2.0 so I don't think we'll be able to work on improving this functionality. See the changelog for details:
https://github.com/django/django-localflavor/blob/master/docs/changelog.rst#20---2017-12-30

Perhaps the recommended replacement `django-phonenumber-field` will have a solution for this.
https://github.com/stefanfoulis/django-phonenumber-field

Sor

[2019-01-07 20:58] #356 closed

[2019-01-08 22:51] darkpixel commented on #356
Thanks--I spaced on the new repo.

[2019-01-30 20:08] ah8ad3 opened #358 "Persian support"
Hi,
i want to add persian for iranian people support to this code, can i ?

[2019-01-30 20:21] claudep commented on #358
Of course you can. Read https://django-localflavor.readthedocs.io/en/latest/#adding-flavors

[2019-02-24 22:46] Asday opened #363 "Broken link in docs"
On https://django-localflavor.readthedocs.io/en/latest/localflavor/gb/, the link to BS7666 is currently broken.

I think https://data.gov.uk/education-standards/sites/default/files/CL-Address-Line-Type-v3-0.pdf might be an acceptable alternative?

[2019-03-06 19:28] #363 closed

[2019-03-06 19:29] benkonrath commented on #363
Thanks for the reporting this issue and for suggesting alternative!

[2019-03-28 11:31] benkonrath commented on #358
Closed via e1936aab48c30e756a0657c1c079e7727eea9c57

[2019-03-28 11:31] #358 closed

[2019-04-03 18:07] mawkee opened #367 "Brazilian bank codes"
I don't know if this is something that we want to add to localflavor, but in any case...

On Brazil, there are govern issued bank codes for each bank operating on the country (it's called `COMPE` code). These are easily available on the internet, and the list is updated every now and then, when a new bank starts to operate on the country.

We thought about adding a choices tuple (similar to `br_st

[2019-04-10 15:12] benkonrath commented on #334
Fixed in 9d47350d9e4f76d3a24e66750281ad8a380da76e.

[2019-04-10 15:12] #334 closed

[2019-04-22 11:53] benkonrath opened #371 "2.2 release planning"
This is the planning for the 2.2 release. I was hoping to make the release before the end of the April but I think it's important to have a short window for a string freeze so that translations can been updated.

String freeze: Tuesday 30 April 2019
Release date: Tuesday 07 May 2019

Please add a comment on this issue if there's a problem with these dates.

[2019-04-30 19:52] benkonrath commented on #371
@claudep @MarkusH Are either of you available on 7 May to pull in the updated translations from Transifex?

[2019-04-30 20:26] claudep commented on #371
Sure, just re-ping us on that date.

[2019-05-07 09:07] benkonrath commented on #371
@claudep @MarkusH I'd like to make the 2.2 release today sometime. Could you update the translations when you have a chance? Thanks!

[2019-05-07 11:49] claudep commented on #371
Should be done.

[2019-05-07 12:34] benkonrath commented on #371
Thanks. Just made the release.

[2019-05-07 12:34] #371 closed

[2019-05-10 13:37] AhShXyZ opened #373 "Nothing for Egypt?"
I noticed that nothing provided for Egypt, is there anyone working on it? if not, I want to do it, OK?

[2019-05-10 13:39] claudep commented on #373
Sure, feel free to start a new flavor for Egypt. However I'm closing the issue until you submit a pull request with usable code. Good luck!

[2019-05-10 13:39] #373 closed

[2019-05-14 16:39] mawkee commented on #367
I could not find one (and I searched a lot). I'll submit a PR then.

[2019-05-31 17:43] johnraz opened #375 "Replace vat custom validation with python-stdnum"
Hello there,

As a followup to #210 and more recently #370,

I would like to know if you'd be taking a PR that would replace the current VAT validation with the one coming from python-stdnum?

I think it would also probably allow some more options in the clean function to allow for example a compact version of the number to be stored.
Nothing too fancy here, just a something like `compact` boolean

[2019-06-03 06:45] claudep commented on #375
At first sight, I would say yes, go for it. I didn't check the code, though.

[2019-06-03 19:57] benkonrath commented on #375
I also think it's a good idea.

If or when I can find some extra time, I'd like to experiment with making a separate django-stdnum package that is a simple generated wrapper for python-stdnum with the goal of deprecating parts of django-localfavor. It just doesn't make sense to me that we keep maintaining custom validation code when there's a high quality library like python-stdnum available. In t

[2019-06-04 06:56] codingjoe commented on #375
Ff stdnum is the best library around, go for it.

[2019-06-12 15:10] Vido commented on #367
#376

[2019-07-10 06:41] johnraz commented on #375
Quick feedback on this issue, the project I was working on and that required this change has been put on hold for now. I'm still considering to contribute but it may take longer than expected.

[2019-10-13 19:47] arthurdejong opened #389 "ar.forms.ARCBUField check digit calculation is incorrect"
The check digit calculation in ar.forms.ARCBUField is probably incorrect. It does not seem to validate the "28505909 40090418135201" example from https://es.wikipedia.org/wiki/Clave_Bancaria_Uniforme

Note that python-stdnum (disclaimer: I'm the author) already has a pretty well tested implementation and localflavor already depends on it.

If you like, I can make a PR that switches ARCBUField to p

[2019-10-14 15:16] benkonrath commented on #389
Nice work on python-stdnum! A PR for fixing this issue by using python-stdnum would be great - thanks for the offer.

Side note: I'm planning to make a package that generates Django models and forms for all of python-stdnum. I think it makes sense to do this outside of django-localflavor (e.g. create a django-stdnum package) but I want to validate my idea first with a proof of concept and then che

[2019-10-19 13:42] #389 closed

[2019-10-30 15:32] benkonrath opened #393 "docs no longer updated on readthedocs.io"
The latest version is 2.1:
https://django-localflavor.readthedocs.io/en/latest/

The builds seem to have stopped and the version numbers are not correct.
https://readthedocs.org/projects/django-localflavor/builds/
https://readthedocs.org/projects/django-localflavor/versions/

[2020-01-03 20:56] mkoistinen opened #395 "The ES translation of `North Carolina` has a preceding space"
See here: https://github.com/django/django-localflavor/blob/master/localflavor/locale/es/LC_MESSAGES/django.po#L7601-L7602

Do I submit the fix directly here in the PO file or should someone do this in the translation service?

[2020-01-03 21:04] claudep commented on #395
Yes, please fix it in Transifex directly.

[2020-01-03 21:04] #395 closed

[2020-01-03 21:07] mkoistinen commented on #395
I requested to join the django-localflavor project at Transifex

[2020-01-06 16:20] mkoistinen commented on #395
I cannot fix this in Transifex unless someone grants me permission to join the project there. I requested to join already, but it hasn't been permitted, and yet the translation issue still persists. I'm fine for closing this Issue as it's not a code issue, but what mechanism remains to ensure this isn't forgotten?

[2020-01-06 19:09] claudep commented on #395
I applied the fix, it should be imported for the next release.

[2020-01-26 11:47] rwillmer opened #396 "RemovedInDjango40Warning on django.utils.translation.gettext_lazy"
If I run pytest on code which includes django-localflavor 2.2, I get multiple occurrences of this error.

[code]

I'll submit a PR to fix it.

[2020-01-26 12:01] rwillmer commented on #396
It's already fixed, so no PR needed :)

[2020-01-26 12:01] #396 closed

[2020-01-29 14:16] codescribblr opened #397 "Not compatible with Django 3.0+"
This project is dependent on `django.utils.six` which is removed in version 3.0 of Django.

[2020-01-29 14:34] #397 closed

[2020-02-07 18:42] Palisand opened #398 "Django 3.0 Support / 3.0 Release: 19 February 2020"
When is v3.0 (which I assume will support Django 3.0) scheduled to be released? Is there anything I can do to prioritize the next release?

[2020-02-10 13:29] benkonrath commented on #398
Thanks for the reminder. I'll make a plan this evening and everything in motion. Hopefully we'll have it out within a week or two.

[2020-02-11 11:38] benkonrath commented on #398
I can do the release on Wednesday 19 February. This gives me sometime to fix up and merge a few PRs.

@claudep Are you able to pull in an update from Tranifex that day? I can send a quick note to remind you on that day.

[2020-02-11 11:43] benkonrath commented on #393
@jezdez Any chance you can look into this? Or give claudep or me access? Thanks.

[2020-02-11 21:43] claudep commented on #398
That should be OK. Can you please update the base catalog now (like c0123840494)?

[2020-02-12 08:16] benkonrath commented on #398
Thanks for the reminder. The base catalogue has been updated.

[2020-02-19 08:49] benkonrath commented on #398
@claudep Can you pull in the update from Transifex sometime today? Thanks.

[2020-02-19 11:15] benkonrath commented on #398
django-localflavor 3.0 has now been released. Thanks.

[2020-02-19 11:15] #398 closed

[2020-02-19 11:43] claudep commented on #398
Ben, our hero of the day :fireworks:

[2020-02-19 18:43] Palisand commented on #398
Thank you all.

[2020-03-06 10:51] washeck opened #410 "Transifex strings not in sync with source code"
I'm trying to localize BICField validation messages in Transifex and I found out that only "BIC codes have either 8 or 11 characters." is present there. The same source file contains other messages (see https://github.com/django/django-localflavor/blob/master/localflavor/generic/validators.py#L235) but those are absent in Transifex.

[2020-03-06 21:51] claudep commented on #410
Looks like it could be a Transifex bug. The update URL pointing to the en source file was marked "Not found". Just giving again the same URL may have fixed this. Let's wait some hours to see what's happening. Thanks for noticing!

[2020-03-07 20:13] claudep commented on #410
Seems to be fixed now, thanks again!

[2020-03-07 20:13] #410 closed

[2020-03-08 11:13] benkonrath commented on #410
Do we need to do a 3.0.1 release to fix this? I just updated the base catalogue and there were some changes. I'm not sure why they weren't picked up last time. I used the `make-translations` invoke task this time instead of doing it manually.

In any  case, if an update to the 3.0 release would be useful, we can hold off string changes for a week or two to give translators a chance to update thing

[2020-03-08 11:17] claudep commented on #410
That was a Transifex bug, not your fault. Sometimes it memorizes that a resource is down and never tries again :-(

Would be a good idea to notify the django-i18n ML and give two weeks for translators before releasing 3.0.1.

[2020-03-09 19:46] benkonrath opened #413 "3.0.1 release on 25 March 2020"
See #410

[2020-03-25 16:06] benkonrath commented on #413
@claudep Do you have time to update the translations from Transifex today? Sorry that I'm a little late asking. Tomorrow would also be ok. Thanks.

[2020-03-25 21:13] claudep commented on #413
Hi Ben, I just realize that you accidentally reintroduced source comments in all po files in 9ebe417374, where only the `en` `django.po` should have been updated. Are you OK if I revert that commit?

[2020-03-25 21:28] benkonrath commented on #413
Yeah, sure. Please revert the commit as needed.

I did notice there were more changes the last commit but I was using the invoke command which I assumed was more correct than when I manually update the base catalogue. Is this going to be a problem for the updated translations?

[2020-03-25 21:33] claudep commented on #413
No, it should not. I guess you used the `make_translations` command without argument?

[2020-03-25 21:39] benkonrath commented on #413
Yeah, looks like it. I'll be sure to use `en` as argument next next. I guess I assumed it would default to `en` and didn't look closely. I supposed I could have figured it out with the extra changes. Thanks for noticing and fixing it.

[2020-03-25 21:44] claudep commented on #413
I'll update that invoke script, making translations for all languages should generally not happen in our current workflow. I'ts currently misleading.

[2020-03-25 22:07] claudep commented on #413
Updated translations are in now.

[2020-03-27 14:55] benkonrath commented on #413
3.0.1 has just been released to pypi. Thanks for the help @claudep!

[2020-03-27 14:55] #413 closed

[2020-03-27 15:03] claudep commented on #413
:tada:

[2020-03-30 05:39] saileshkush95 opened #414 "Please add Support for nepal"
Please add support for nepal

[2020-04-06 22:39] ambsw-technology commented on #348
I was also surprised the functionality didn't exist.  I agree that duplication is bad and wonder if there'd be a logical way to incorporate the 3rd party library as a "best practice" e.g. in a documentation section for "country codes".

[2020-06-05 15:45] Tim38-code opened #416 "Please Add local-flavor support for Ghana"
There aren't support for Ghana.  I'm ready to provide all required features

[2020-06-25 13:07] AdrienHorgnies opened #417 "IbanField doesn't validate anything"
Version: "Django==3.0.6", "django-localflavor==3.0.1"

I used localflavor.generic.models.IBANField for a Django models.Model attribute and it seems it accepts any value. I expect it to throw an exception or something when it receives an invalid value, but it's stores it in database like if the value is valid.

After some debugging, I see that calling the method `clean_fields` on such an instance t

[2020-06-25 13:10] claudep commented on #417
That's how Django validation generally works. Model cleaning is automatically called when you receive values through Django forms. If you programmatically build a model instance, it's your duty to call field validation.

[2020-06-25 13:10] #417 closed

[2021-01-18 18:27] dotwork opened #423 "Update Egypt IBAN code length to 29 characters"
A user recently had trouble submitting a 29-character IBAN code for Egypt. It appears the IBAN code was updated from 27 to 29 characters in June 2020. Please update the validation to expect this. Thank you!

Here are a couple sources:
https://dailynewsegypt.com/2020/07/04/banks-in-egypt-switch-to-iban-standard-to-ease-cross-border-transactions/#:~:text=For%20Egypt%2C%20the%20IBAN%20consists,the%20

[2021-01-21 19:25] ses4j opened #424 "US US_STATES is sorted incorrectly"
https://github.com/django/django-localflavor/blob/master/localflavor/us/us_states.py

The US_STATES enum is sorted by state code, but STATE_CHOICES (and old Django versions such as https://github.com/django/django/commit/4b2b2eda24) are sorted by state name.  The net effect is that Nevada SHOULD sort before New Jersey, but in fact sorts after since NV is after NJ.

[2021-02-19 10:23] benkonrath commented on #424
@ses4j Thanks for letting us know. Any chance you can make a PR to fix this?

[2021-02-19 13:53] ses4j commented on #424
@benkonrath done.

[2021-02-19 20:21] #424 closed

[2021-03-27 14:01] HectorAsencio opened #432 "Update Chile to have new region"
CL: In 2018 the Bio Bio region was divided into two: Bio Bio (unchanged) and XVI Región de Ñuble (new).

[2021-03-29 08:19] benkonrath commented on #432
Thanks for letting us know about the update. Do you have time to make a pull request to add this new region? Thanks.

[2021-03-29 13:13] HectorAsencio commented on #432
Pull Request: https://github.com/django/django-localflavor/pull/433

[2021-04-06 18:43] benkonrath commented on #432
Fixed via https://github.com/django/django-localflavor/commit/ad62cfe384accbdbddfb974b53ed1be76f96276b

[2021-04-06 18:43] #432 closed

[2021-05-07 12:27] jezdez commented on #393
I missed this ticket, apologies, I’ve added you on Readthedocs as a maintainer (feel free to add more people from the Django team) since I don’t have permissions anymore for the repo I can’t add the now required "GitHub incoming webhook integration" on https://readthedocs.org/dashboard/django-localflavor/integrations/create/

You should be able to add it since you have admin permissions for the re

[2021-05-07 13:00] benkonrath commented on #393
Thanks Jannis. I also can't add it. Can any of the Django Ops team or Django fellows help out here? Thanks.

[2021-05-07 13:08] MarkusH commented on #393
I can't add it either. Sorry.

[2021-05-07 13:11] #423 closed

[2021-05-07 14:12] jezdez commented on #393
Done.

[2021-05-07 14:17] apollo13 commented on #393
Thanks, webhook is created and initial delivery looks good. The next tag/branch should build automatically

[2021-05-07 17:59] benkonrath commented on #393
It's working. Thanks everyone for the help!

[2021-05-07 17:59] #393 closed

[2021-05-12 20:17] benkonrath commented on #290
Fixed by #412

[2021-05-12 20:17] #290 closed

[2021-05-13 08:34] benkonrath commented on #258
These issues are all fixed.

[2021-05-13 08:34] #258 closed

[2021-05-13 09:47] benkonrath opened #439 "3.1 Release: 27 May 2021"
String freeze 20 May 2021, release 27 May 2021.

@claudep Does this schedule work for you to pull in the translations from Transifex (on the 27th)? I'm happy to adjust the date if need be.

[2021-05-13 09:54] claudep commented on #439
Sure!

[2021-05-13 09:55] #234 closed

[2021-05-17 07:09] #338 closed

[2021-05-27 20:02] benkonrath commented on #439
@claudep Could you update the translations from Transifex whenever you have a chance? I'll probably do the release tomorrow - so no rush this evening. Thanks.

[2021-05-28 05:57] claudep commented on #439
Thanks for the reminder, I'm doing it now.

[2021-05-28 06:54] claudep commented on #439
Pushed 853c20b5bb and 9754e179755. Have a look!

[2021-05-28 07:07] benkonrath commented on #439
Thanks!

[2021-05-28 09:57] benkonrath commented on #439
https://pypi.org/project/django-localflavor/3.1/

Thanks for your help Claude!

[2021-05-28 09:57] #439 closed

[2021-05-28 10:02] claudep commented on #439
:champagne:

[2021-06-23 10:00] claudep opened #445 "Field of CharField inheritance"
Most of localflavor form fields inherit from `CharField`. However, some are directly inheriting from `Field`. Whenever you use those fields as the default form field for any model CharField, you'll get the `__init__() got an unexpected keyword argument 'max_length'` TypeError. I wonder if the fact some fields inheriting from `Field` only is a desing decision or simply an oversight.

@benkonrath, w

[2021-06-23 10:09] benkonrath commented on #445
I suspect this is an oversight. I vaguely recall noticing this in the past but assumed that these fields were intentionally setup to inherit directly from `Field`. Since there's a specific issue with this setup, I think we should change all text based fields to inherit from `CharField`.

I think it's worthwhile to make a 3.1.1 release to address this. Do you see any compatibility issues with this

[2021-06-23 10:10] benkonrath commented on #445
I can make a PR later this afternoon if you haven't already beat me to it.

[2021-06-23 10:12] claudep commented on #445
Such changes could always give backwards incompatibilities, however, I think it's the right thing to do, and we can document the affected fields in the ChangeLog. I'll be pleased to review your patch :-)

[2021-06-23 12:41] benkonrath commented on #445
There were more than I thought there would be and I have to do other stuff now. I'll finish the PR in the next couple of days and let you know when it's ready for review.

[2021-06-23 12:53] claudep commented on #445
Sure, no rush! Just tell me if you'd like some help to cook the patches.

[2021-06-23 12:56] claudep opened #447 "Check import ordering with isort"

[2021-06-23 12:58] benkonrath commented on #445
I can do it - it's giving me more motivation to finish my work on a Django wrapper to python-stdnum and possibly/eventually deprecate most of this stuff. :-)

[2021-06-23 19:50] benkonrath commented on #447
Do you mean you think we should put this back in?
https://github.com/django/django-localflavor/commit/00fe4ec9a81e142cd9237079698c1d4ee2884e7b

[2021-06-23 19:58] claudep commented on #447
Oh I didn't remember this. Do you remember why you removed isort?

[2021-06-23 20:27] benkonrath commented on #447
Too many contributors were having problems with it. I personally still like it but I thought making things a bit easier is more important than having sorted imports. The plan was to just run isort manually once in a while.

In my own projects use isort and black with pre-commit to run these tools. However, I get fewer contributors to these projects so it's less of an issue. In any case, I'm fine w

[2021-06-23 20:59] claudep commented on #447
I have a love-hate relationship with auto-formatting tools, so feel free to close the ticket if you feel like it.

[2021-06-24 14:23] benkonrath commented on #447
I really like auto-formatting - especially when pre-commit is used. In this case, I think having a CI check for sorted imports will get in the way for less experienced contributors. I can just run isort manually once in a while. I'll make sure that I do this as a separate commit.

[2021-06-24 14:23] #447 closed

[2021-07-03 09:26] carltongibson commented on #375
Relevant discussion on stdnum https://github.com/arthurdejong/python-stdnum/issues/239

Leads to:

* https://github.com/arthurdejong/python-stdnum/issues/239, and
* https://github.com/arthurdejong/python-stdnum/issues/239

[2021-07-03 09:29] carltongibson commented on #348
Closing as per Ben's comments above.

[2021-07-03 09:29] #348 closed

[2021-08-29 07:27] vishalpandeyvip commented on #414
I would like to work on it. can anyone from the contributors assign it to me?

[2021-08-29 20:44] claudep commented on #414
Feel free to work on it. No need for special assignment, just telling you are working on it is sufficient.

[2021-10-06 20:45] joshuadavidthomas opened #452 "Move from Travis CI to Github Actions for CI"
Since June earlier this year, Travis CI no longer supports free open source CI. If you look at the [Travis builds](https://travis-ci.org/github/django/django-localflavor), you can see they haven't been running since then.

Github Actions has become the defacto standard for CI for open source projects. [This repository](https://github.com/jefftriplett/python-github-actions-matrix-demo) offers a goo

[2021-10-10 19:40] #452 closed

[2021-10-11 10:58] sandeepN06 commented on #416
@claudep @benkonrath would love to contribute on this

[2021-10-19 08:29] Colk-tech opened #456 "Add support of models for Japan"
In `django-localflavor` version 3.1, there's no support of `models` for Japan though there is support of `forms`.
So, I would love to add support of `models` for Japan just like the United States supports `models`.
Thanks!

[2021-10-29 20:49] claudep commented on #445
Fixed by d7ba69b477

[2021-10-29 20:49] #445 closed

[2021-11-11 08:43] Vargax01 opened #464 "Bug: CIF spanish starting with U does not validate"
Hello,
django-localflavor ES does not validate the cif that begin with U. I have been analyzing the code and I have seen that the U is not within the list of values ​​of the cif.

`self.cif_types = 'ABCDEFGHJKLMNPQRSVW'`

The cif that begin with U are totally valid (https://es.wikipedia.org/wiki/C%C3%B3digo_de_identificaci%C3%B3n_fiscal)

Could you tell me what to do to fix this.

Thanks greetings

[2021-11-12 11:05] benkonrath commented on #464
Hi, Thanks for the bug report. The best thing to do is submit a PR with the fix and passing test demonstrates that the issue is fixed. Thanks.

[2021-11-15 10:45] sandeepN06 commented on #464
Hey @Vargax01 you could fork it and clone this repo in your pc and redirect to ES localflavour and you could alter the cif_types and run the tox if all tests get passed send a PR. If you face any difficulties just put a message

[2021-11-16 08:22] Vargax01 commented on #464
Hi,
Yes I solve the problem, I edit the code in the forms.py file and change the line to this line:
`self.cif_types = 'ABCDEFGHJKLMNPQRSUVW'`
And everything works perfectly.
I hope you can implement the updated cif letters in future versions

Thanks greetings

[2021-11-16 08:28] sandeepN06 commented on #464
You need to create a PR to get your code merged

[2022-05-06 07:51] benkonrath commented on #464
Fixed in #469

[2022-05-06 07:51] #464 closed

[2022-07-04 14:54] sandeepN06 commented on #416
@benkonrath please close this issue

[2022-07-04 16:46] #416 closed

[2022-08-22 12:53] LLyaudet opened #473 "French local : Use class Validators for SIRET and SIREN model fields, do not format output"
Hello,

Right now the SIRET and SIREN model fields use SIRET and SIREN form fields that do the validation.
I prefer the architecture of the IBAN and BIC fields in generic that use class Validators,
since you can call the validators without using form fields.
Would you accept if I submit a PR with a new file validators.py in fr/
and add in it SIRENValidator and SIRETValidator classes ?
I would use

[2022-08-22 13:05] LLyaudet commented on #473
For the annoying formatting, I have found a workaround :
https://stackoverflow.com/questions/61896109/changing-max-length-on-a-charfield-for-a-modelform
[code]

[2022-08-23 13:39] LLyaudet commented on #473
If you want to keep some arguments from the model, the workaround is more complicated :
[code]

[2022-09-21 03:37] smcalilly opened #474 "Upgrade to Django 4.0"
I'm wanting to use this package in an app with Django 4.0.7, but I get this error whenever I try to build the app:

[code]

It appears that this is a breaking change with the latest Django version, based on this: https://forum.djangoproject.com/t/importerror-cannot-import-name-ugettext-lazy-from-django-utils-translation/10943/10

Would it be alright if I submitted a patch PR that upgrades to Djang

[2022-09-21 06:14] claudep commented on #474
You are probably using an old version of localflavor. the `ugettext_lazy` call provoking the error was updated 3 years ago. The current code is already compatible with Django 4.0.

[2022-09-21 06:14] #474 closed

[2022-09-21 06:16] claudep commented on #414
Fixed by #451

[2022-09-21 06:16] #414 closed

[2022-09-21 14:13] smcalilly commented on #474
@claudep ah you're right. thanks for pointing that.

perhaps updating the readme would be helpful to indicate that the current code is already compatible with django 4.0 since it's not there and misleading without it.

[2022-09-22 17:50] claudep commented on #474
Sure, and that could also be done in a patch adding/verifying support for Django 4.1.

[2022-11-15 20:57] tambaTech opened #475 "localflavor fields not showing up"
Hello

Can i please get som help, i'm kinda a newbie in Django.

Here is my Model: the fields are not showing up in the Django Administration.
What i'm i doing wrong? please help

from localflavor.dk.forms import DKMunicipalitySelect, DKPostalCodeField

class Location(models.Model):
    address_1 = models.CharField(max_length=128, blank=True)
    address_2 = models.CharField(max_length=128, blank=

[2022-11-15 21:26] claudep commented on #475
Sorry but this is not a help channel, it's a location to report bugs against the program. I suggest you go to Django forums to get help.

[2022-11-15 21:26] #475 closed

[2022-11-16 20:28] neeket opened #476 "Add support for Nepal"